In [1]:
from first_import import db
import models_first_import as m

In [40]:
import csv


with open("../resources/final_df.csv", "r") as file:
    reader=csv.reader(file)
    header=next(reader)
    for line in reader:
        dict={}
        for column,value in zip(header,line):
            try:
                dict[column]=float(value)
            except:
                pass
        newLine=m.main_table(**dict)
#         db.session.add(newLine)

In [37]:
newLine.age_in_years_at_screening

2.0

In [58]:

# Created a variable to hold the name for the primary key of each table:
primary_key_name = 'id'

# # Created a dictionary to reference each table that is related to each survey's main results table; paired the codes
# # with their respective labels:
# data_release_cycle_table = {primary_key_name: [5, 10], 
#                             'cycle': ['NHANES 2007-2008 public release',
#                                       'NHANES 2017-2018 public release']}

six_month_time_period_table = {primary_key_name: [1, 2],
                               'description': ['November 1 through April 30',
                                          'May 1 through October 31']}

gender_table = {primary_key_name: [1, 2],
                'description': ['Male',
                           'Female']}

age_groups_table = {primary_key_name: [1, 2, 3, 4],
                    'description': ['Children/Adolescents (0-19 years)',
                                  'Young adults (20-39 years)',
                                  'Middle age adults (40-59 years)',
                                  'Older adults (60+)']}

race_ethnic_origin_table = {primary_key_name: [*range(1,8)],
                            'description': ['Mexican American',
                                          'Other Hispanic',
                                          'Non-Hispanic White',
                                          'Non-Hispanic Black',
                                          'Other Race-Including Non-Hispanic Asian',
                                          'Non-Hispanic Asian',
                                          'Other Race']}

served_in_the_us_armed_forces_table = {primary_key_name: [1, 2, 777777, 999999],
                                   'description': ['Yes',
                                                    'No',
                                                    'Refused',
                                                    "Don't know"]}

country_of_birth_table = {primary_key_name: [1, 3, 777777, 999999],
                          'description': ['Born in the US',
                                      'Born outside the US',
                                      'Refused',
                                      "Don't know"]}

citizenship_status_table = {primary_key_name: [1, 2, 777777, 999999],
                            'description': ['US Citizen',
                                       'Not a US citizen',
                                       'Refused',
                                       "Don't know"]}

education_level_children_table = {primary_key_name: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15,
                                                                777777, 999999],
                                             'description': ['Never Attended/Kindergarten Only',
                                                                 '1st Grade',
                                                                 '2nd Grade',
                                                                 '3rd Grade',
                                                                 '4th Grade',
                                                                 '5th Grade',
                                                                 '6th Grade',
                                                                 '7th Grade',
                                                                 '8th Grade',
                                                                 '9th Grade',
                                                                 '10th Grade',
                                                                 '11th Grade',
                                                                 '12th Grade, No Diploma',
                                                                 'High School Graduate',
                                                                 'GED or Equivalent',
                                                                 'More than high school',
                                                                 'Refused',
                                                                 "Don't know"]}

education_level_adults_table = {primary_key_name: [1, 2, 3, 777777, 999999],
                                   'description': ['Less than high school degree',
                                                       'High school grad/GED or some college/AA degree',
                                                       'College graduate or above',
                                                       'Refused',
                                                       "Don't know"]}

marital_status_table = {primary_key_name: [1, 2, 3, 777777, 999999],
                        'description': ['Married/Living with partner',
                                           'Widowed/Divorced/Separated',
                                           'Never married',
                                           'Refused',
                                           "Don't know"]}

total_number_of_people_table = {primary_key_name: [1, 2, 3, 4, 5, 6, 7],
                                'description': ['1 person',
                                                     '2 people',
                                                     '3 people',
                                                     '4 people',
                                                     '5 people',
                                                     '6 people',
                                                     '7 people or more']}

annual_income_table = {primary_key_name: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 14, 15, 777777, 999999],
                       'description': ['$0 to $4,999',
                                  '$5,000 to $9,999',
                                  '$10,000 to $14,999',
                                  '$15,000 to $19,999',
                                  '$20,000 to $24,999',
                                  '$25,000 to $34,999',
                                  '$35,000 to $44,999',
                                  '$45,000 to $54,999',
                                  '$55,000 to $64,999',
                                  '$65,000 to $74,999',
                                  '$75,000 to $99,999',
                                  '$100,000 and over',
                                  'Refused',
                                  "Don't know"]}

In [61]:
tables=[six_month_time_period_table,
       gender_table,
       age_groups_table,
       race_ethnic_origin_table,
       served_in_the_us_armed_forces_table,
       country_of_birth_table,
       citizenship_status_table,
       education_level_children_table,
       education_level_adults_table,
       marital_status_table,
       total_number_of_people_table,
       annual_income_table]
models=[m.six_month_time_period_table,
       m.gender_table,
       m.age_groups_table,
       m.race_ethnic_origin_table,
       m.served_in_the_us_armed_forces_table,
       m.country_of_birth_table,
       m.citizenship_status_table,
       m.education_level_children_table,
       m.education_level_adults_table,
       m.marital_status_table,
       m.total_number_of_people_table,
       m.annual_income_table]

In [89]:
for i in range(len(tables)):
    for j in range(len(tables[i]["id"])):
        id_code=tables[i]["id"][j]
        description_code=tables[i]["description"][j]
        newLine=models[i](id=id_code,description=description_code)
        db.session.add(newLine)

In [96]:
list=m.gender_table.query.all()
for line in list:
    print([line.id,line.description])

[1, 'Male']
[2, 'Female']

In [97]:
db.session.commit()