In [1]:
from sqlalchemy import create_engine,text,inspect
from sqlalchemy.orm import Session
import numpy

In [2]:
engine=create_engine("sqlite:///../resources/nhanes.db")

In [3]:
connection=engine.connect()
session=Session(engine)
inspector=inspect(engine)

In [4]:
name_list=inspector.get_table_names().copy()
name_list.pop(9)
name_list.pop(7)
name_list.pop(1)
name_list

['age_groups_table',
 'annual_income_table',
 'citizenship_status_table',
 'country_of_birth_table',
 'data_release_cycle_table',
 'education_level_adults_table',
 'gender_table',
 'marital_status_table',
 'race_ethnic_origin_table',
 'ratio_of_family_income_to_poverty_table',
 'served_in_the_us_armed_forces_table',
 'six_month_time_period_table',
 'total_number_of_people_table']

In [5]:
connection=engine.connect()

In [6]:
for table in name_list:
    results=connection.execute(text(f"SELECT * FROM {table}"))
    for i in results:
        print(i.id,i.description)
    print("-"*20)

1 Children/Adolescents~(0-19 years)
2 Young adults~(20-39 years)
3 Middle age adults~(40-59 years)
4 Older adults~(60+)
--------------------
1 $0 to $4,999
2 $5,000 to $9,999
3 $10,000 to $14,999
4 $15,000 to $19,999
5 $20,000 to $24,999
6 $25,000 to $34,999
7 $35,000 to $44,999
8 $45,000 to $54,999
9 $55,000 to $64,999
10 $65,000 to $74,999
14 $75,000 to $99,999
15 $100,000 and over
777777 Refused
999999 Don't know
--------------------
1 US Citizen
2 Not a US citizen
777777 Refused
999999 Don't know
--------------------
1 Born in the US
3 Born outside the US
777777 Refused
999999 Don't know
--------------------
5 NHANES 2007-2008 public release
10 NHANES 2017-2018 public release
--------------------
1 Less than high school degree
2 High school grad/GED or some college/AA degree
3 College graduate or above
777777 Refused
999999 Don't know
--------------------
1 Male
2 Female
--------------------
1 Married/Living with partner
2 Widowed/Divorced/Separated
3 Never married
777777 Refused
999999 Don't know
--------------------
1 Mexican American
2 Other Hispanic
3 Non-Hispanic White
4 Non-Hispanic Black
5 Other Race: Including~Non-Hispanic Asian
6 Non-Hispanic Asian
7 Other Race
--------------------
1 0.00 to 1.00
2 1.01 to 2.00
3 2.01 to 3.00
4 3.01 to 4.00
5 4.01 and over
--------------------
1 Yes
2 No
777777 Refused
999999 Don't know
--------------------
1 November 1 through April 30
2 May 1 through October 31
--------------------
1 1 person
2 2 people
3 3 people
4 4 people
5 5 people
6 6 people
7 7 people or more
--------------------

In [23]:
table=name_list[7]
results=connection.execute(text(f"SELECT * FROM {table}"))
for i in results:
        print(i.id,i.description)

1 Married or~Living with partner
2 Widowed, Divorced~or Separated
3 Never married
777777 Refused
999999 Don't know

In [22]:
# new_description="Widowed, Divorced~or Separated"
# select_id="2"
# connection.execute(text(f"UPDATE {table} SET description='{new_description}' WHERE id={select_id}"))

In [24]:
# connection.commit()