In [1]:
# Imported the dependencies:
import pandas as pd
import numpy as np
import os
import re

# <u>Extracting</u> the data:

In [2]:
# Created a dictionary that relates the "_E" file ending to the 2007-2008 survey and the "_J" one to the 2017-2018:
survey_years = {"_E": "_0708",
                "_J": "_1718"}

In [3]:
# Listed the files contained in the directory "sas":
files_l = os.listdir("../sas")

# Removed the unneeded files, if there are any:
try:
    files_l.remove("columnreader")
    files_l.remove(".DS_Store")
except:
    pass
    
# Created an empty list to append the names of the DataFrames that will be created:
dfnames_l = []

# Looped the files in the directory "sas" to replace the file ending with its respective survey years:
for file in files_l:
    for key, value in survey_years.items():
        file = file.replace(".XPT", "").replace(key, value)
    dfnames_l.append(file)

# Printed the created lists:    
print(files_l)
print(dfnames_l)

['DEMO_E.XPT', 'CBQ_E.XPT', 'CBQ_J.XPT', 'DEMO_J.XPT']
['DEMO_0708', 'CBQ_0708', 'CBQ_1718', 'DEMO_1718']

In [4]:
# Created an empty dictionary to hold the four DataFrames that will be created:
dfs = {}

# Looped the names and files lists as tuples to read the correct SAS file and create the respective DataFrame:
for name, file in zip(dfnames_l, files_l):
    dfs[name] = pd.read_sas(f"../sas/{file}")
    
# Showed the first five rows of the NHANES demographics survey of 2007-2008:
dfs['DEMO_0708'].head()

,SEQN,SDDSRVYR,RIDSTATR,RIDEXMON,RIAGENDR,RIDAGEYR,RIDAGEMN,RIDAGEEX,RIDRETH1,DMQMILIT,...,FIAPROXY,FIAINTRP,MIALANG,MIAPROXY,MIAINTRP,AIALANG,WTINT2YR,WTMEC2YR,SDMVPSU,SDMVSTRA
0,41475.0,5.0,2.0,2.0,2.0,62.0,751.0,752.0,5.0,2.0,...,2.0,2.0,1.0,2.0,2.0,1.0,59356.356426,60045.772497,1.0,60.0
1,41476.0,5.0,2.0,1.0,2.0,6.0,81.0,82.0,5.0,NaN,...,2.0,2.0,NaN,NaN,NaN,NaN,35057.218405,35353.210440,1.0,70.0
2,41477.0,5.0,2.0,2.0,1.0,71.0,859.0,860.0,3.0,1.0,...,2.0,2.0,1.0,2.0,2.0,1.0,9935.266183,10074.150074,1.0,67.0
3,41478.0,5.0,2.0,2.0,2.0,1.0,17.0,17.0,3.0,NaN,...,2.0,2.0,NaN,NaN,NaN,NaN,12846.712058,14560.472652,2.0,59.0
4,41479.0,5.0,2.0,1.0,1.0,52.0,629.0,630.0,1.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,8727.797555,9234.055759,1.0,70.0

# <u>Transforming</u> the data:

In [5]:
# Created a list for each survey's codebook:
DEMO_0708_l = ["SEQN - Respondent sequence number",
               "SDDSRVYR - Data Release Number",
               "RIDSTATR - Interview/Examination Status",
               "RIDEXMON - Six month time period",
               "RIAGENDR - Gender",
               "RIDAGEYR - Age at Screening Adjudicated - Recode",
               "RIDAGEMN - Age in Months at Screening - Recode",
               "RIDAGEEX - Age in Months at Exam - Recode",
               "RIDRETH1 - Race/Ethnicity - Recode",
               "DMQMILIT - Served in the US Armed Forces",
               "DMDBORN2 - Country of Birth - Recode",
               "DMDCITZN - Citizenship Status",
               "DMDYRSUS - Length of time in US",
               "DMDEDUC3 - Education Level - Children/Youth 6-19",
               "DMDEDUC2 - Education Level - Adults 20+",
               "DMDSCHOL - Now attending school?",
               "DMDMARTL - Marital Status",
               "DMDHHSIZ - Total number of people in the Household",
               "DMDFMSIZ - Total number of people in the Family",
               "INDHHIN2 - Annual Household Income",
               "INDFMIN2 - Annual Family Income",
               "INDFMPIR - Ratio of family income to poverty",
               "RIDEXPRG - Pregnancy Status at Exam - Recode",
               "DMDHRGND - HH Ref Person Gender",
               "DMDHRAGE - HH Ref Person Age",
               "DMDHRBR2 - HH Ref Person Country of Birth",
               "DMDHREDU - HH Ref Person Education Level",
               "DMDHRMAR - HH Ref Person Marital Status",
               "DMDHSEDU - HH Ref Person's Spouse Education Level",
               "SIALANG - Language of SP Interview",
               "SIAPROXY - Proxy used in SP Interview?",
               "SIAINTRP - Interpreter used in SP Interview?",
               "FIALANG - Language of Family Interview",
               "FIAPROXY - Proxy used in Family Interview?",
               "FIAINTRP - Interpreter used in Family Interview?",
               "MIALANG - Language of MEC Interview",
               "MIAPROXY - Proxy used in MEC Interview?",
               "MIAINTRP - Interpreter used in MEC Interview?",
               "AIALANG - Language of ACASI Interview",
               "WTINT2YR - Full Sample 2 Year Interview Weight",
               "WTMEC2YR - Full Sample 2 Year MEC Exam Weight",
               "SDMVPSU - Masked Variance Pseudo-PSU",
               "SDMVSTRA - Masked Variance Pseudo-Stratum"]

CBQ_0708_l = ["SEQN - Respondent sequence number",
              "CBD010 - Anyone in the family on a special diet",
              "CBQ020 - Fruits available at home",
              "CBQ030 - Dark green vegetables available at home",
              "CBQ040 - Salty snacks available at home",
              "CBQ050 - Fat-free/low fat milk available at home",
              "CBQ060 - Soft drinks available at home",
              "CBD070 - Money spent at supermarket/grocery store",
              "CBD090 - Money spent on nonfood items",
              "CBD110 - Money spent on food at other stores",
              "CBD120 - Money spent on eating out",
              "CBD130 - Money spent on carryout/delivered foods",
              "CBQ140 - How often do you do major food shopping",
              "CBD150 - Time to get to grocery store",
              "CBD160 - # of times someone cooked dinner at home",
              "CBD170 - Time spent cooking dinner/cleaning up",
              "CBD180 - # of meals family ate together in 7 days",
              "CBQ190 - # of meals ate together cooked at home"]

CBQ_1718_l = ["SEQN - Respondent sequence number",
              "CBD071 - Money spent at supermarket/grocery store",
              "CBD091 - Money spent on nonfood items",
              "CBD111 - Money spent on food at other stores",
              "CBD121 - Money spent on eating out",
              "CBD131 - Money spent on carryout/delivered foods"]

DEMO_1718_l = ["SEQN - Respondent sequence number",
               "SDDSRVYR - Data release cycle",
               "RIDSTATR - Interview/Examination status",
               "RIAGENDR - Gender",
               "RIDAGEYR - Age in years at screening",
               "RIDAGEMN - Age in months at screening - 0 to 24 mos",
               "RIDRETH1 - Race/Hispanic origin",
               "RIDRETH3 - Race/Hispanic origin w/ NH Asian",
               "RIDEXMON - Six month time period",
               "RIDEXAGM - Age in months at exam - 0 to 19 years",
               "DMQMILIZ - Served active duty in US Armed Forces",
               "DMQADFC - Served in a foreign country",
               "DMDBORN4 - Country of birth",
               "DMDCITZN - Citizenship status",
               "DMDYRSUS - Length of time in US",
               "DMDEDUC3 - Education level - Children/Youth 6-19",
               "DMDEDUC2 - Education level - Adults 20+",
               "DMDMARTL - Marital status",
               "RIDEXPRG - Pregnancy status at exam",
               "SIALANG - Language of SP Interview",
               "SIAPROXY - Proxy used in SP Interview?",
               "SIAINTRP - Interpreter used in SP Interview?",
               "FIALANG - Language of Family Interview",
               "FIAPROXY - Proxy used in Family Interview?",
               "FIAINTRP - Interpreter used in Family Interview?",
               "MIALANG - Language of MEC Interview",
               "MIAPROXY - Proxy used in MEC Interview?",
               "MIAINTRP - Interpreter used in MEC Interview?",
               "AIALANGA - Language of ACASI Interview",
               "DMDHHSIZ - Total number of people in the Household",
               "DMDFMSIZ - Total number of people in the Family",
               "DMDHHSZA - # of children 5 years or younger in HH",
               "DMDHHSZB - # of children 6-17 years old in HH",
               "DMDHHSZE - # of adults 60 years or older in HH",
               "DMDHRGND - HH ref person's gender",
               "DMDHRAGZ - HH ref person's age in years",
               "DMDHREDZ - HH ref person's education level",
               "DMDHRMAZ - HH ref person's marital status",
               "DMDHSEDZ - HH ref person's spouse's education level",
               "WTINT2YR - Full sample 2 year interview weight",
               "WTMEC2YR - Full sample 2 year MEC exam weight",
               "SDMVPSU - Masked variance pseudo-PSU",
               "SDMVSTRA - Masked variance pseudo-stratum",
               "INDHHIN2 - Annual household income",
               "INDFMIN2 - Annual family income",
               "INDFMPIR - Ratio of family income to poverty"]

# Created a dictionary to link the name of each survey to its respective list:
all_codebooks_d = {dfnames_l[0]: DEMO_0708_l,
                   dfnames_l[1]: CBQ_0708_l,
                   dfnames_l[2]: CBQ_1718_l,
                   dfnames_l[3]: DEMO_1718_l}

# Specified the path where the TXT files will be created:
path = "../sas/columnreader"

# Created a variable that will be called to create the necesary folder(s):
new_dir = os.makedirs(path, exist_ok=True)

# Looped the items in the 'all_codebooks_d' dictionary to create a TXT file for each codebook:
for key, value in all_codebooks_d.items():
    file = open(f"{path}/{key}.txt", "w")
    for item in value:
        file.write(item+"\n")
    file.close()

In [6]:
# Listed the files contained in the recently created directory "sas/columnreader":
columnreader_l = os.listdir("../sas/columnreader")

# Sorted the variables so, once looped, the information in each variable matches each other:
columnreader_l.sort()
dfnames_l.sort()

# Removed the unneeded files, if there are any:
try:
    columnreader_l.remove(".DS_Store")
except:
    pass

# Created a dictionary to hold the name of each column of each survey based on its respective codebook:
texts_d = {}

# Looped the names of the DataFrames and the "column reader" files as a tuple to add the name of each column to the
# "texts" dictionary:
for name, file in zip(dfnames_l, columnreader_l):
    with open(f"{path}/{file}", "r") as f:
        texts_d[name] = f.read().strip().split("\n")

# Displayed the "texts" dictionary:
display(texts_d)

{'CBQ_0708': ['SEQN - Respondent sequence number',
  'CBD010 - Anyone in the family on a special diet',
  'CBQ020 - Fruits available at home',
  'CBQ030 - Dark green vegetables available at home',
  'CBQ040 - Salty snacks available at home',
  'CBQ050 - Fat-free/low fat milk available at home',
  'CBQ060 - Soft drinks available at home',
  'CBD070 - Money spent at supermarket/grocery store',
  'CBD090 - Money spent on nonfood items',
  'CBD110 - Money spent on food at other stores',
  'CBD120 - Money spent on eating out',
  'CBD130 - Money spent on carryout/delivered foods',
  'CBQ140 - How often do you do major food shopping',
  'CBD150 - Time to get to grocery store',
  'CBD160 - # of times someone cooked dinner at home',
  'CBD170 - Time spent cooking dinner/cleaning up',
  'CBD180 - # of meals family ate together in 7 days',
  'CBQ190 - # of meals ate together cooked at home'],
 'CBQ_1718': ['SEQN - Respondent sequence number',
  'CBD071 - Money spent at supermarket/grocery store',
  'CBD091 - Money spent on nonfood items',
  'CBD111 - Money spent on food at other stores',
  'CBD121 - Money spent on eating out',
  'CBD131 - Money spent on carryout/delivered foods'],
 'DEMO_0708': ['SEQN - Respondent sequence number',
  'SDDSRVYR - Data Release Number',
  'RIDSTATR - Interview/Examination Status',
  'RIDEXMON - Six month time period',
  'RIAGENDR - Gender',
  'RIDAGEYR - Age at Screening Adjudicated - Recode',
  'RIDAGEMN - Age in Months at Screening - Recode',
  'RIDAGEEX - Age in Months at Exam - Recode',
  'RIDRETH1 - Race/Ethnicity - Recode',
  'DMQMILIT - Served in the US Armed Forces',
  'DMDBORN2 - Country of Birth - Recode',
  'DMDCITZN - Citizenship Status',
  'DMDYRSUS - Length of time in US',
  'DMDEDUC3 - Education Level - Children/Youth 6-19',
  'DMDEDUC2 - Education Level - Adults 20+',
  'DMDSCHOL - Now attending school?',
  'DMDMARTL - Marital Status',
  'DMDHHSIZ - Total number of people in the Household',
  'DMDFMSIZ - Total number of people in the Family',
  'INDHHIN2 - Annual Household Income',
  'INDFMIN2 - Annual Family Income',
  'INDFMPIR - Ratio of family income to poverty',
  'RIDEXPRG - Pregnancy Status at Exam - Recode',
  'DMDHRGND - HH Ref Person Gender',
  'DMDHRAGE - HH Ref Person Age',
  'DMDHRBR2 - HH Ref Person Country of Birth',
  'DMDHREDU - HH Ref Person Education Level',
  'DMDHRMAR - HH Ref Person Marital Status',
  "DMDHSEDU - HH Ref Person's Spouse Education Level",
  'SIALANG - Language of SP Interview',
  'SIAPROXY - Proxy used in SP Interview?',
  'SIAINTRP - Interpreter used in SP Interview?',
  'FIALANG - Language of Family Interview',
  'FIAPROXY - Proxy used in Family Interview?',
  'FIAINTRP - Interpreter used in Family Interview?',
  'MIALANG - Language of MEC Interview',
  'MIAPROXY - Proxy used in MEC Interview?',
  'MIAINTRP - Interpreter used in MEC Interview?',
  'AIALANG - Language of ACASI Interview',
  'WTINT2YR - Full Sample 2 Year Interview Weight',
  'WTMEC2YR - Full Sample 2 Year MEC Exam Weight',
  'SDMVPSU - Masked Variance Pseudo-PSU',
  'SDMVSTRA - Masked Variance Pseudo-Stratum'],
 'DEMO_1718': ['SEQN - Respondent sequence number',
  'SDDSRVYR - Data release cycle',
  'RIDSTATR - Interview/Examination status',
  'RIAGENDR - Gender',
  'RIDAGEYR - Age in years at screening',
  'RIDAGEMN - Age in months at screening - 0 to 24 mos',
  'RIDRETH1 - Race/Hispanic origin',
  'RIDRETH3 - Race/Hispanic origin w/ NH Asian',
  'RIDEXMON - Six month time period',
  'RIDEXAGM - Age in months at exam - 0 to 19 years',
  'DMQMILIZ - Served active duty in US Armed Forces',
  'DMQADFC - Served in a foreign country',
  'DMDBORN4 - Country of birth',
  'DMDCITZN - Citizenship status',
  'DMDYRSUS - Length of time in US',
  'DMDEDUC3 - Education level - Children/Youth 6-19',
  'DMDEDUC2 - Education level - Adults 20+',
  'DMDMARTL - Marital status',
  'RIDEXPRG - Pregnancy status at exam',
  'SIALANG - Language of SP Interview',
  'SIAPROXY - Proxy used in SP Interview?',
  'SIAINTRP - Interpreter used in SP Interview?',
  'FIALANG - Language of Family Interview',
  'FIAPROXY - Proxy used in Family Interview?',
  'FIAINTRP - Interpreter used in Family Interview?',
  'MIALANG - Language of MEC Interview',
  'MIAPROXY - Proxy used in MEC Interview?',
  'MIAINTRP - Interpreter used in MEC Interview?',
  'AIALANGA - Language of ACASI Interview',
  'DMDHHSIZ - Total number of people in the Household',
  'DMDFMSIZ - Total number of people in the Family',
  'DMDHHSZA - # of children 5 years or younger in HH',
  'DMDHHSZB - # of children 6-17 years old in HH',
  'DMDHHSZE - # of adults 60 years or older in HH',
  "DMDHRGND - HH ref person's gender",
  "DMDHRAGZ - HH ref person's age in years",
  "DMDHREDZ - HH ref person's education level",
  "DMDHRMAZ - HH ref person's marital status",
  "DMDHSEDZ - HH ref person's spouse's education level",
  'WTINT2YR - Full sample 2 year interview weight',
  'WTMEC2YR - Full sample 2 year MEC exam weight',
  'SDMVPSU - Masked variance pseudo-PSU',
  'SDMVSTRA - Masked variance pseudo-stratum',
  'INDHHIN2 - Annual household income',
  'INDFMIN2 - Annual family income',
  'INDFMPIR - Ratio of family income to poverty']}

In [7]:
# Created an empty dictionary that will hold the new names with which each column name in the DataFrames will be
# replaced:
column_renamer = {}

# Looped to get each codebook and store them in a new variable:
for name in dfnames_l:
    codebook = texts_d[name]
    
    # Created an empty dictionary that will hold the names with which each code will be replaced:
    line_d = {}
    
    # Looped the lines in each codebook, split the code and the description, and replaced some characters with
    # underscores:
    for line in codebook:
        split_line = re.findall("([A-z0-9]*) - ([#'A-z \/0-9\-?]*)", line)
        line_d[split_line[0][0]] = split_line[0][1].replace(" - ","_").replace(" ","_").replace("-","_")\
                                                    .replace("'s","").replace("/", "_").replace("?","")\
                                                    .replace("#","Num")
    column_renamer[name] = line_d
    
# Showed the "column renamer" dictionary:
display(column_renamer)

{'CBQ_0708': {'SEQN': 'Respondent_sequence_number',
  'CBD010': 'Anyone_in_the_family_on_a_special_diet',
  'CBQ020': 'Fruits_available_at_home',
  'CBQ030': 'Dark_green_vegetables_available_at_home',
  'CBQ040': 'Salty_snacks_available_at_home',
  'CBQ050': 'Fat_free_low_fat_milk_available_at_home',
  'CBQ060': 'Soft_drinks_available_at_home',
  'CBD070': 'Money_spent_at_supermarket_grocery_store',
  'CBD090': 'Money_spent_on_nonfood_items',
  'CBD110': 'Money_spent_on_food_at_other_stores',
  'CBD120': 'Money_spent_on_eating_out',
  'CBD130': 'Money_spent_on_carryout_delivered_foods',
  'CBQ140': 'How_often_do_you_do_major_food_shopping',
  'CBD150': 'Time_to_get_to_grocery_store',
  'CBD160': 'Num_of_times_someone_cooked_dinner_at_home',
  'CBD170': 'Time_spent_cooking_dinner_cleaning_up',
  'CBD180': 'Num_of_meals_family_ate_together_in_7_days',
  'CBQ190': 'Num_of_meals_ate_together_cooked_at_home'},
 'CBQ_1718': {'SEQN': 'Respondent_sequence_number',
  'CBD071': 'Money_spent_at_supermarket_grocery_store',
  'CBD091': 'Money_spent_on_nonfood_items',
  'CBD111': 'Money_spent_on_food_at_other_stores',
  'CBD121': 'Money_spent_on_eating_out',
  'CBD131': 'Money_spent_on_carryout_delivered_foods'},
 'DEMO_0708': {'SEQN': 'Respondent_sequence_number',
  'SDDSRVYR': 'Data_Release_Number',
  'RIDSTATR': 'Interview_Examination_Status',
  'RIDEXMON': 'Six_month_time_period',
  'RIAGENDR': 'Gender',
  'RIDAGEYR': 'Age_at_Screening_Adjudicated_Recode',
  'RIDAGEMN': 'Age_in_Months_at_Screening_Recode',
  'RIDAGEEX': 'Age_in_Months_at_Exam_Recode',
  'RIDRETH1': 'Race_Ethnicity_Recode',
  'DMQMILIT': 'Served_in_the_US_Armed_Forces',
  'DMDBORN2': 'Country_of_Birth_Recode',
  'DMDCITZN': 'Citizenship_Status',
  'DMDYRSUS': 'Length_of_time_in_US',
  'DMDEDUC3': 'Education_Level_Children_Youth_6_19',
  'DMDEDUC2': 'Education_Level_Adults_20',
  'DMDSCHOL': 'Now_attending_school',
  'DMDMARTL': 'Marital_Status',
  'DMDHHSIZ': 'Total_number_of_people_in_the_Household',
  'DMDFMSIZ': 'Total_number_of_people_in_the_Family',
  'INDHHIN2': 'Annual_Household_Income',
  'INDFMIN2': 'Annual_Family_Income',
  'INDFMPIR': 'Ratio_of_family_income_to_poverty',
  'RIDEXPRG': 'Pregnancy_Status_at_Exam_Recode',
  'DMDHRGND': 'HH_Ref_Person_Gender',
  'DMDHRAGE': 'HH_Ref_Person_Age',
  'DMDHRBR2': 'HH_Ref_Person_Country_of_Birth',
  'DMDHREDU': 'HH_Ref_Person_Education_Level',
  'DMDHRMAR': 'HH_Ref_Person_Marital_Status',
  'DMDHSEDU': 'HH_Ref_Person_Spouse_Education_Level',
  'SIALANG': 'Language_of_SP_Interview',
  'SIAPROXY': 'Proxy_used_in_SP_Interview',
  'SIAINTRP': 'Interpreter_used_in_SP_Interview',
  'FIALANG': 'Language_of_Family_Interview',
  'FIAPROXY': 'Proxy_used_in_Family_Interview',
  'FIAINTRP': 'Interpreter_used_in_Family_Interview',
  'MIALANG': 'Language_of_MEC_Interview',
  'MIAPROXY': 'Proxy_used_in_MEC_Interview',
  'MIAINTRP': 'Interpreter_used_in_MEC_Interview',
  'AIALANG': 'Language_of_ACASI_Interview',
  'WTINT2YR': 'Full_Sample_2_Year_Interview_Weight',
  'WTMEC2YR': 'Full_Sample_2_Year_MEC_Exam_Weight',
  'SDMVPSU': 'Masked_Variance_Pseudo_PSU',
  'SDMVSTRA': 'Masked_Variance_Pseudo_Stratum'},
 'DEMO_1718': {'SEQN': 'Respondent_sequence_number',
  'SDDSRVYR': 'Data_release_cycle',
  'RIDSTATR': 'Interview_Examination_status',
  'RIAGENDR': 'Gender',
  'RIDAGEYR': 'Age_in_years_at_screening',
  'RIDAGEMN': 'Age_in_months_at_screening_0_to_24_mos',
  'RIDRETH1': 'Race_Hispanic_origin',
  'RIDRETH3': 'Race_Hispanic_origin_w__NH_Asian',
  'RIDEXMON': 'Six_month_time_period',
  'RIDEXAGM': 'Age_in_months_at_exam_0_to_19_years',
  'DMQMILIZ': 'Served_active_duty_in_US_Armed_Forces',
  'DMQADFC': 'Served_in_a_foreign_country',
  'DMDBORN4': 'Country_of_birth',
  'DMDCITZN': 'Citizenship_status',
  'DMDYRSUS': 'Length_of_time_in_US',
  'DMDEDUC3': 'Education_level_Children_Youth_6_19',
  'DMDEDUC2': 'Education_level_Adults_20',
  'DMDMARTL': 'Marital_status',
  'RIDEXPRG': 'Pregnancy_status_at_exam',
  'SIALANG': 'Language_of_SP_Interview',
  'SIAPROXY': 'Proxy_used_in_SP_Interview',
  'SIAINTRP': 'Interpreter_used_in_SP_Interview',
  'FIALANG': 'Language_of_Family_Interview',
  'FIAPROXY': 'Proxy_used_in_Family_Interview',
  'FIAINTRP': 'Interpreter_used_in_Family_Interview',
  'MIALANG': 'Language_of_MEC_Interview',
  'MIAPROXY': 'Proxy_used_in_MEC_Interview',
  'MIAINTRP': 'Interpreter_used_in_MEC_Interview',
  'AIALANGA': 'Language_of_ACASI_Interview',
  'DMDHHSIZ': 'Total_number_of_people_in_the_Household',
  'DMDFMSIZ': 'Total_number_of_people_in_the_Family',
  'DMDHHSZA': 'Num_of_children_5_years_or_younger_in_HH',
  'DMDHHSZB': 'Num_of_children_6_17_years_old_in_HH',
  'DMDHHSZE': 'Num_of_adults_60_years_or_older_in_HH',
  'DMDHRGND': 'HH_ref_person_gender',
  'DMDHRAGZ': 'HH_ref_person_age_in_years',
  'DMDHREDZ': 'HH_ref_person_education_level',
  'DMDHRMAZ': 'HH_ref_person_marital_status',
  'DMDHSEDZ': 'HH_ref_person_spouse_education_level',
  'WTINT2YR': 'Full_sample_2_year_interview_weight',
  'WTMEC2YR': 'Full_sample_2_year_MEC_exam_weight',
  'SDMVPSU': 'Masked_variance_pseudo_PSU',
  'SDMVSTRA': 'Masked_variance_pseudo_stratum',
  'INDHHIN2': 'Annual_household_income',
  'INDFMIN2': 'Annual_family_income',
  'INDFMPIR': 'Ratio_of_family_income_to_poverty'}}

In [8]:
# Looped the DataFrames to rename each column:
for name in dfnames_l:
    dfs[name] = dfs[name].rename(columns=column_renamer[name])

# Listed the new column names of the first DataFrame, which is the NHANES consumer behavior survey of 2007-2008:
list(dfs[dfnames_l[0]].columns)

['Respondent_sequence_number',
 'Anyone_in_the_family_on_a_special_diet',
 'Fruits_available_at_home',
 'Dark_green_vegetables_available_at_home',
 'Salty_snacks_available_at_home',
 'Fat_free_low_fat_milk_available_at_home',
 'Soft_drinks_available_at_home',
 'Money_spent_at_supermarket_grocery_store',
 'Money_spent_on_nonfood_items',
 'Money_spent_on_food_at_other_stores',
 'Money_spent_on_eating_out',
 'Money_spent_on_carryout_delivered_foods',
 'How_often_do_you_do_major_food_shopping',
 'Time_to_get_to_grocery_store',
 'Num_of_times_someone_cooked_dinner_at_home',
 'Time_spent_cooking_dinner_cleaning_up',
 'Num_of_meals_family_ate_together_in_7_days',
 'Num_of_meals_ate_together_cooked_at_home']

In [9]:
# Created an empty dictionary to hold the two new merged DataFrames that will be created:
merged_dfs = {}

# Looped the survey years to correctly merge the demographics and consumer behavior DataFrames of each year based on
# the "respondent sequence number":
for key, value in survey_years.items():
    year_tables = list(filter(lambda x:value in x, dfnames_l))
    dfs_merge = dfs[year_tables[0]]
    for i, table in enumerate(year_tables):
        if i > 0:
            dfs_merge = dfs_merge.merge(dfs[table], on="Respondent_sequence_number")
    merged_dfs[value] = dfs_merge
merged_dfs["_1718"]

,Respondent_sequence_number,Money_spent_at_supermarket_grocery_store,Money_spent_on_nonfood_items,Money_spent_on_food_at_other_stores,Money_spent_on_eating_out,Money_spent_on_carryout_delivered_foods,Data_release_cycle,Interview_Examination_status,Gender,Age_in_years_at_screening,...,HH_ref_person_education_level,HH_ref_person_marital_status,HH_ref_person_spouse_education_level,Full_sample_2_year_interview_weight,Full_sample_2_year_MEC_exam_weight,Masked_variance_pseudo_PSU,Masked_variance_pseudo_stratum,Annual_household_income,Annual_family_income,Ratio_of_family_income_to_poverty
0,93703.0,100.0,5.397605e-79,4.000000e+02,200.0,3.000000e+01,10.0,2.0,2.0,2.0,...,3.0,1.0,3.0,9246.491865,8539.731348,2.0,145.0,15.0,15.0,5.00
1,93704.0,900.0,3.000000e+01,5.397605e-79,50.0,2.500000e+01,10.0,2.0,1.0,2.0,...,3.0,1.0,2.0,37338.768343,42566.614750,1.0,143.0,15.0,15.0,5.00
2,93705.0,100.0,5.397605e-79,5.397605e-79,75.0,1.070000e+02,10.0,2.0,2.0,66.0,...,1.0,2.0,NaN,8614.571172,8338.419786,2.0,145.0,3.0,3.0,0.82
3,93706.0,NaN,NaN,NaN,NaN,NaN,10.0,2.0,1.0,18.0,...,3.0,1.0,2.0,8548.632619,8723.439814,2.0,134.0,NaN,NaN,NaN
4,93707.0,2142.0,2.000000e+02,6.000000e+01,200.0,1.000000e+02,10.0,2.0,1.0,13.0,...,2.0,1.0,3.0,6769.344567,7064.609730,1.0,138.0,10.0,10.0,1.88
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9249,102952.0,450.0,1.000000e+02,1.000000e+02,120.0,5.397605e-79,10.0,2.0,2.0,70.0,...,2.0,1.0,1.0,16896.276203,18338.711104,2.0,138.0,4.0,4.0,0.95
9250,102953.0,250.0,5.397605e-79,1.280000e+02,200.0,5.397605e-79,10.0,2.0,1.0,42.0,...,2.0,2.0,NaN,61630.380013,63661.951573,2.0,137.0,12.0,12.0,NaN
9251,102954.0,300.0,5.397605e-79,4.000000e+02,200.0,4.000000e+01,10.0,2.0,2.0,41.0,...,2.0,2.0,NaN,17160.895269,17694.783346,1.0,144.0,10.0,10.0,1.18
9252,102955.0,1200.0,5.000000e+01,5.000000e+01,100.0,4.000000e+01,10.0,2.0,2.0,14.0,...,2.0,1.0,2.0,14238.445922,14871.839636,1.0,136.0,9.0,9.0,2.24
9253,102956.0,1200.0,2.000000e+02,1.500000e+02,200.0,5.397605e-79,10.0,2.0,1.0,38.0,...,2.0,2.0,NaN,38645.740291,39426.299948,1.0,142.0,7.0,7.0,1.56

In [10]:
# Printed the columns in each DataFrame in order to choose the columns that will be kept:
print("2007-2008 survey columns:")
print(merged_dfs["_0708"].columns)
print("-"*10)
print("2017-2018 survey columns:")
print(merged_dfs["_1718"].columns)

2007-2008 survey columns:
Index(['Respondent_sequence_number', 'Anyone_in_the_family_on_a_special_diet',
       'Fruits_available_at_home', 'Dark_green_vegetables_available_at_home',
       'Salty_snacks_available_at_home',
       'Fat_free_low_fat_milk_available_at_home',
       'Soft_drinks_available_at_home',
       'Money_spent_at_supermarket_grocery_store',
       'Money_spent_on_nonfood_items', 'Money_spent_on_food_at_other_stores',
       'Money_spent_on_eating_out', 'Money_spent_on_carryout_delivered_foods',
       'How_often_do_you_do_major_food_shopping',
       'Time_to_get_to_grocery_store',
       'Num_of_times_someone_cooked_dinner_at_home',
       'Time_spent_cooking_dinner_cleaning_up',
       'Num_of_meals_family_ate_together_in_7_days',
       'Num_of_meals_ate_together_cooked_at_home', 'Data_Release_Number',
       'Interview_Examination_Status', 'Six_month_time_period', 'Gender',
       'Age_at_Screening_Adjudicated_Recode',
       'Age_in_Months_at_Screening_Recode', 'Age_in_Months_at_Exam_Recode',
       'Race_Ethnicity_Recode', 'Served_in_the_US_Armed_Forces',
       'Country_of_Birth_Recode', 'Citizenship_Status', 'Length_of_time_in_US',
       'Education_Level_Children_Youth_6_19', 'Education_Level_Adults_20',
       'Now_attending_school', 'Marital_Status',
       'Total_number_of_people_in_the_Household',
       'Total_number_of_people_in_the_Family', 'Annual_Household_Income',
       'Annual_Family_Income', 'Ratio_of_family_income_to_poverty',
       'Pregnancy_Status_at_Exam_Recode', 'HH_Ref_Person_Gender',
       'HH_Ref_Person_Age', 'HH_Ref_Person_Country_of_Birth',
       'HH_Ref_Person_Education_Level', 'HH_Ref_Person_Marital_Status',
       'HH_Ref_Person_Spouse_Education_Level', 'Language_of_SP_Interview',
       'Proxy_used_in_SP_Interview', 'Interpreter_used_in_SP_Interview',
       'Language_of_Family_Interview', 'Proxy_used_in_Family_Interview',
       'Interpreter_used_in_Family_Interview', 'Language_of_MEC_Interview',
       'Proxy_used_in_MEC_Interview', 'Interpreter_used_in_MEC_Interview',
       'Language_of_ACASI_Interview', 'Full_Sample_2_Year_Interview_Weight',
       'Full_Sample_2_Year_MEC_Exam_Weight', 'Masked_Variance_Pseudo_PSU',
       'Masked_Variance_Pseudo_Stratum'],
      dtype='object')
----------
2017-2018 survey columns:
Index(['Respondent_sequence_number',
       'Money_spent_at_supermarket_grocery_store',
       'Money_spent_on_nonfood_items', 'Money_spent_on_food_at_other_stores',
       'Money_spent_on_eating_out', 'Money_spent_on_carryout_delivered_foods',
       'Data_release_cycle', 'Interview_Examination_status', 'Gender',
       'Age_in_years_at_screening', 'Age_in_months_at_screening_0_to_24_mos',
       'Race_Hispanic_origin', 'Race_Hispanic_origin_w__NH_Asian',
       'Six_month_time_period', 'Age_in_months_at_exam_0_to_19_years',
       'Served_active_duty_in_US_Armed_Forces', 'Served_in_a_foreign_country',
       'Country_of_birth', 'Citizenship_status', 'Length_of_time_in_US',
       'Education_level_Children_Youth_6_19', 'Education_level_Adults_20',
       'Marital_status', 'Pregnancy_status_at_exam',
       'Language_of_SP_Interview', 'Proxy_used_in_SP_Interview',
       'Interpreter_used_in_SP_Interview', 'Language_of_Family_Interview',
       'Proxy_used_in_Family_Interview',
       'Interpreter_used_in_Family_Interview', 'Language_of_MEC_Interview',
       'Proxy_used_in_MEC_Interview', 'Interpreter_used_in_MEC_Interview',
       'Language_of_ACASI_Interview',
       'Total_number_of_people_in_the_Household',
       'Total_number_of_people_in_the_Family',
       'Num_of_children_5_years_or_younger_in_HH',
       'Num_of_children_6_17_years_old_in_HH',
       'Num_of_adults_60_years_or_older_in_HH', 'HH_ref_person_gender',
       'HH_ref_person_age_in_years', 'HH_ref_person_education_level',
       'HH_ref_person_marital_status', 'HH_ref_person_spouse_education_level',
       'Full_sample_2_year_interview_weight',
       'Full_sample_2_year_MEC_exam_weight', 'Masked_variance_pseudo_PSU',
       'Masked_variance_pseudo_stratum', 'Annual_household_income',
       'Annual_family_income', 'Ratio_of_family_income_to_poverty'],
      dtype='object')

In [11]:
# Created a filtered DataFrame for each survey year:
first_df = merged_dfs["_0708"]
second_df = merged_dfs["_1718"]
filtered_first_df = first_df[['Respondent_sequence_number',
                              'Data_Release_Number',
                              'Six_month_time_period',
                              'Gender',
                              'Age_at_Screening_Adjudicated_Recode',
                              'Race_Ethnicity_Recode',
                              'Served_in_the_US_Armed_Forces',
                              'Country_of_Birth_Recode',
                              'Citizenship_Status',
                              'Education_Level_Children_Youth_6_19',
                              'Education_Level_Adults_20',
                              'Marital_Status',
                              'Total_number_of_people_in_the_Household',
                              'Total_number_of_people_in_the_Family',
                              'Annual_Household_Income',
                              'Annual_Family_Income',
                              'Ratio_of_family_income_to_poverty',
                              'HH_Ref_Person_Gender',
                              'HH_Ref_Person_Age',
                              'HH_Ref_Person_Education_Level',
                              'HH_Ref_Person_Marital_Status',
                              'HH_Ref_Person_Spouse_Education_Level',
                              'Full_Sample_2_Year_Interview_Weight',
                              'Full_Sample_2_Year_MEC_Exam_Weight',
                              'Masked_Variance_Pseudo_PSU',
                              'Masked_Variance_Pseudo_Stratum',
                              'Money_spent_at_supermarket_grocery_store',
                              'Money_spent_on_nonfood_items',
                              'Money_spent_on_food_at_other_stores',
                              'Money_spent_on_eating_out',
                              'Money_spent_on_carryout_delivered_foods']].copy()
filtered_second_df = second_df[['Respondent_sequence_number',
                                'Data_release_cycle',
                                'Six_month_time_period',
                                'Gender',
                                'Age_in_years_at_screening',
                                'Race_Hispanic_origin_w__NH_Asian',
                                'Served_active_duty_in_US_Armed_Forces',
                                'Country_of_birth',
                                'Citizenship_status',
                                'Education_level_Children_Youth_6_19',
                                'Education_level_Adults_20',
                                'Marital_status',
                                'Total_number_of_people_in_the_Household',
                                'Total_number_of_people_in_the_Family',
                                'Annual_household_income',
                                'Annual_family_income',
                                'Ratio_of_family_income_to_poverty',
                                'HH_ref_person_gender',
                                'HH_ref_person_age_in_years',
                                'HH_ref_person_education_level',
                                'HH_ref_person_marital_status',
                                'HH_ref_person_spouse_education_level',
                                'Full_sample_2_year_interview_weight',
                                'Full_sample_2_year_MEC_exam_weight',
                                'Masked_variance_pseudo_PSU',
                                'Masked_variance_pseudo_stratum',
                                'Money_spent_at_supermarket_grocery_store',
                                'Money_spent_on_nonfood_items',
                                'Money_spent_on_food_at_other_stores',
                                'Money_spent_on_eating_out',
                                'Money_spent_on_carryout_delivered_foods']].copy()

# Displayed both DataFrames on top of each other to compare them:
pd.set_option('display.max_columns', None)
display(filtered_first_df)
display(filtered_second_df)

,Respondent_sequence_number,Data_Release_Number,Six_month_time_period,Gender,Age_at_Screening_Adjudicated_Recode,Race_Ethnicity_Recode,Served_in_the_US_Armed_Forces,Country_of_Birth_Recode,Citizenship_Status,Education_Level_Children_Youth_6_19,Education_Level_Adults_20,Marital_Status,Total_number_of_people_in_the_Household,Total_number_of_people_in_the_Family,Annual_Household_Income,Annual_Family_Income,Ratio_of_family_income_to_poverty,HH_Ref_Person_Gender,HH_Ref_Person_Age,HH_Ref_Person_Education_Level,HH_Ref_Person_Marital_Status,HH_Ref_Person_Spouse_Education_Level,Full_Sample_2_Year_Interview_Weight,Full_Sample_2_Year_MEC_Exam_Weight,Masked_Variance_Pseudo_PSU,Masked_Variance_Pseudo_Stratum,Money_spent_at_supermarket_grocery_store,Money_spent_on_nonfood_items,Money_spent_on_food_at_other_stores,Money_spent_on_eating_out,Money_spent_on_carryout_delivered_foods
0,41475.0,5.0,2.0,2.0,62.0,5.0,2.0,1.0,1.0,NaN,3.0,1.0,2.0,2.0,6.0,6.0,1.83,1.0,64.0,4.0,1.0,3.0,59356.356426,60045.772497,1.0,60.0,320.0,4.000000e+01,8.000000e+01,4.500000e+01,5.397605e-79
1,41476.0,5.0,1.0,2.0,6.0,5.0,NaN,1.0,1.0,5.397605e-79,NaN,NaN,6.0,6.0,15.0,15.0,5.00,1.0,51.0,5.0,1.0,5.0,35057.218405,35353.210440,1.0,70.0,900.0,5.397605e-79,5.397605e-79,4.000000e+02,2.000000e+01
2,41477.0,5.0,2.0,1.0,71.0,3.0,1.0,1.0,1.0,NaN,3.0,1.0,2.0,2.0,5.0,5.0,1.50,1.0,71.0,3.0,1.0,4.0,9935.266183,10074.150074,1.0,67.0,400.0,8.000000e+01,6.000000e+01,4.000000e+01,5.397605e-79
3,41478.0,5.0,2.0,2.0,1.0,3.0,NaN,1.0,1.0,NaN,NaN,NaN,4.0,4.0,3.0,3.0,0.66,2.0,25.0,2.0,1.0,3.0,12846.712058,14560.472652,2.0,59.0,70.0,5.397605e-79,2.000000e+02,2.500000e+01,1.500000e+01
4,41479.0,5.0,1.0,1.0,52.0,1.0,2.0,2.0,1.0,NaN,1.0,1.0,5.0,5.0,8.0,8.0,2.20,1.0,52.0,1.0,1.0,3.0,8727.797555,9234.055759,1.0,70.0,550.0,5.397605e-79,5.397605e-79,1.500000e+02,5.000000e+01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10144,51619.0,5.0,1.0,1.0,61.0,1.0,2.0,2.0,1.0,NaN,1.0,1.0,7.0,7.0,14.0,14.0,2.75,2.0,39.0,3.0,1.0,3.0,5197.083889,5390.204907,2.0,71.0,350.0,5.397605e-79,9.000000e+01,1.000000e+02,4.400000e+01
10145,51620.0,5.0,2.0,2.0,50.0,3.0,2.0,1.0,1.0,NaN,2.0,1.0,2.0,2.0,6.0,6.0,2.48,1.0,51.0,2.0,1.0,2.0,27909.120820,27820.477422,1.0,67.0,200.0,5.397605e-79,5.397605e-79,2.000000e+01,5.397605e-79
10146,51621.0,5.0,1.0,1.0,17.0,2.0,2.0,4.0,2.0,9.000000e+00,NaN,NaN,7.0,5.0,9.0,12.0,NaN,1.0,40.0,NaN,1.0,NaN,11057.659484,11298.321052,1.0,73.0,428.0,5.397605e-79,1.000000e+02,5.397605e-79,5.397605e-79
10147,51622.0,5.0,1.0,2.0,60.0,4.0,2.0,5.0,2.0,NaN,1.0,2.0,6.0,6.0,14.0,14.0,2.90,1.0,40.0,NaN,1.0,5.0,9842.672903,10339.755423,1.0,73.0,1071.0,5.397605e-79,5.397605e-79,4.000000e+01,5.397605e-79
10148,51623.0,5.0,2.0,1.0,72.0,3.0,2.0,5.0,1.0,NaN,1.0,2.0,2.0,2.0,3.0,3.0,0.95,1.0,72.0,1.0,2.0,NaN,24692.989537,27499.342780,1.0,62.0,857.0,1.280000e+02,5.397605e-79,5.397605e-79,5.397605e-79

,Respondent_sequence_number,Data_release_cycle,Six_month_time_period,Gender,Age_in_years_at_screening,Race_Hispanic_origin_w__NH_Asian,Served_active_duty_in_US_Armed_Forces,Country_of_birth,Citizenship_status,Education_level_Children_Youth_6_19,Education_level_Adults_20,Marital_status,Total_number_of_people_in_the_Household,Total_number_of_people_in_the_Family,Annual_household_income,Annual_family_income,Ratio_of_family_income_to_poverty,HH_ref_person_gender,HH_ref_person_age_in_years,HH_ref_person_education_level,HH_ref_person_marital_status,HH_ref_person_spouse_education_level,Full_sample_2_year_interview_weight,Full_sample_2_year_MEC_exam_weight,Masked_variance_pseudo_PSU,Masked_variance_pseudo_stratum,Money_spent_at_supermarket_grocery_store,Money_spent_on_nonfood_items,Money_spent_on_food_at_other_stores,Money_spent_on_eating_out,Money_spent_on_carryout_delivered_foods
0,93703.0,10.0,2.0,2.0,2.0,6.0,NaN,1.0,1.0,NaN,NaN,NaN,5.0,5.0,15.0,15.0,5.00,1.0,2.0,3.0,1.0,3.0,9246.491865,8539.731348,2.0,145.0,100.0,5.397605e-79,4.000000e+02,200.0,3.000000e+01
1,93704.0,10.0,1.0,1.0,2.0,3.0,NaN,1.0,1.0,NaN,NaN,NaN,4.0,4.0,15.0,15.0,5.00,1.0,2.0,3.0,1.0,2.0,37338.768343,42566.614750,1.0,143.0,900.0,3.000000e+01,5.397605e-79,50.0,2.500000e+01
2,93705.0,10.0,2.0,2.0,66.0,4.0,2.0,1.0,1.0,NaN,2.0,3.0,1.0,1.0,3.0,3.0,0.82,2.0,4.0,1.0,2.0,NaN,8614.571172,8338.419786,2.0,145.0,100.0,5.397605e-79,5.397605e-79,75.0,1.070000e+02
3,93706.0,10.0,2.0,1.0,18.0,6.0,2.0,1.0,1.0,15.0,NaN,NaN,5.0,5.0,NaN,NaN,NaN,1.0,4.0,3.0,1.0,2.0,8548.632619,8723.439814,2.0,134.0,NaN,NaN,NaN,NaN,NaN
4,93707.0,10.0,2.0,1.0,13.0,7.0,NaN,1.0,1.0,6.0,NaN,NaN,7.0,7.0,10.0,10.0,1.88,1.0,3.0,2.0,1.0,3.0,6769.344567,7064.609730,1.0,138.0,2142.0,2.000000e+02,6.000000e+01,200.0,1.000000e+02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9249,102952.0,10.0,2.0,2.0,70.0,6.0,2.0,2.0,1.0,NaN,3.0,1.0,2.0,2.0,4.0,4.0,0.95,2.0,4.0,2.0,1.0,1.0,16896.276203,18338.711104,2.0,138.0,450.0,1.000000e+02,1.000000e+02,120.0,5.397605e-79
9250,102953.0,10.0,2.0,1.0,42.0,1.0,2.0,2.0,2.0,NaN,3.0,4.0,1.0,1.0,12.0,12.0,NaN,1.0,3.0,2.0,2.0,NaN,61630.380013,63661.951573,2.0,137.0,250.0,5.397605e-79,1.280000e+02,200.0,5.397605e-79
9251,102954.0,10.0,1.0,2.0,41.0,4.0,2.0,1.0,1.0,NaN,5.0,5.0,7.0,7.0,10.0,10.0,1.18,2.0,3.0,2.0,2.0,NaN,17160.895269,17694.783346,1.0,144.0,300.0,5.397605e-79,4.000000e+02,200.0,4.000000e+01
9252,102955.0,10.0,2.0,2.0,14.0,4.0,NaN,1.0,1.0,8.0,NaN,NaN,4.0,4.0,9.0,9.0,2.24,2.0,3.0,2.0,1.0,2.0,14238.445922,14871.839636,1.0,136.0,1200.0,5.000000e+01,5.000000e+01,100.0,4.000000e+01
9253,102956.0,10.0,2.0,1.0,38.0,3.0,2.0,1.0,1.0,NaN,4.0,3.0,5.0,4.0,7.0,7.0,1.56,1.0,2.0,2.0,2.0,NaN,38645.740291,39426.299948,1.0,142.0,1200.0,2.000000e+02,1.500000e+02,200.0,5.397605e-79

In [12]:
# Created a list with the final column names to ensure that the columns of both filtered DataFrames are equally named:
filtered_merged_dfs = [filtered_first_df,
                      filtered_second_df]

unformatted_final_column_names_l = ['Respondent_sequence_number',
                                    'Data_release_cycle',
                                    'Six_month_time_period',
                                    'Gender',
                                    'Age_in_years_at_screening',
                                    'Race_Ethnic_origin',
                                    'Served_in_the_US_armed_forces',
                                    'Country_of_birth',
                                    'Citizenship_status',
                                    'Education_level_Children_Youth_6_19',
                                    'Education_level_Adults_20',
                                    'Marital_status',
                                    'Total_number_of_people_in_the_Household',
                                    'Total_number_of_people_in_the_Family',
                                    'Annual_household_income',
                                    'Annual_family_income',
                                    'Ratio_of_family_income_to_poverty',
                                    'HH_ref_person_gender',
                                    'HH_ref_person_age',
                                    'HH_ref_person_education_level',
                                    'HH_ref_person_marital_status',
                                    'HH_ref_person_spouse_education_level',
                                    'Full_sample_2_year_interview_weight',
                                    'Full_sample_2_year_MEC_exam_weight',
                                    'Masked_variance_pseudo_PSU',
                                    'Masked_variance_pseudo_stratum',
                                    'Money_spent_at_supermarket_grocery_store',
                                    'Money_spent_on_nonfood_items',
                                    'Money_spent_on_food_at_other_stores',
                                    'Money_spent_on_eating_out',
                                    'Money_spent_on_carryout_delivered_foods']

# Assigned the final column names to both filtered DataFrames:
for df in filtered_merged_dfs:
    df.columns = [x.lower() for x in unformatted_final_column_names_l]
    display(df)

,respondent_sequence_number,data_release_cycle,six_month_time_period,gender,age_in_years_at_screening,race_ethnic_origin,served_in_the_us_armed_forces,country_of_birth,citizenship_status,education_level_children_youth_6_19,education_level_adults_20,marital_status,total_number_of_people_in_the_household,total_number_of_people_in_the_family,annual_household_income,annual_family_income,ratio_of_family_income_to_poverty,hh_ref_person_gender,hh_ref_person_age,hh_ref_person_education_level,hh_ref_person_marital_status,hh_ref_person_spouse_education_level,full_sample_2_year_interview_weight,full_sample_2_year_mec_exam_weight,masked_variance_pseudo_psu,masked_variance_pseudo_stratum,money_spent_at_supermarket_grocery_store,money_spent_on_nonfood_items,money_spent_on_food_at_other_stores,money_spent_on_eating_out,money_spent_on_carryout_delivered_foods
0,41475.0,5.0,2.0,2.0,62.0,5.0,2.0,1.0,1.0,NaN,3.0,1.0,2.0,2.0,6.0,6.0,1.83,1.0,64.0,4.0,1.0,3.0,59356.356426,60045.772497,1.0,60.0,320.0,4.000000e+01,8.000000e+01,4.500000e+01,5.397605e-79
1,41476.0,5.0,1.0,2.0,6.0,5.0,NaN,1.0,1.0,5.397605e-79,NaN,NaN,6.0,6.0,15.0,15.0,5.00,1.0,51.0,5.0,1.0,5.0,35057.218405,35353.210440,1.0,70.0,900.0,5.397605e-79,5.397605e-79,4.000000e+02,2.000000e+01
2,41477.0,5.0,2.0,1.0,71.0,3.0,1.0,1.0,1.0,NaN,3.0,1.0,2.0,2.0,5.0,5.0,1.50,1.0,71.0,3.0,1.0,4.0,9935.266183,10074.150074,1.0,67.0,400.0,8.000000e+01,6.000000e+01,4.000000e+01,5.397605e-79
3,41478.0,5.0,2.0,2.0,1.0,3.0,NaN,1.0,1.0,NaN,NaN,NaN,4.0,4.0,3.0,3.0,0.66,2.0,25.0,2.0,1.0,3.0,12846.712058,14560.472652,2.0,59.0,70.0,5.397605e-79,2.000000e+02,2.500000e+01,1.500000e+01
4,41479.0,5.0,1.0,1.0,52.0,1.0,2.0,2.0,1.0,NaN,1.0,1.0,5.0,5.0,8.0,8.0,2.20,1.0,52.0,1.0,1.0,3.0,8727.797555,9234.055759,1.0,70.0,550.0,5.397605e-79,5.397605e-79,1.500000e+02,5.000000e+01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10144,51619.0,5.0,1.0,1.0,61.0,1.0,2.0,2.0,1.0,NaN,1.0,1.0,7.0,7.0,14.0,14.0,2.75,2.0,39.0,3.0,1.0,3.0,5197.083889,5390.204907,2.0,71.0,350.0,5.397605e-79,9.000000e+01,1.000000e+02,4.400000e+01
10145,51620.0,5.0,2.0,2.0,50.0,3.0,2.0,1.0,1.0,NaN,2.0,1.0,2.0,2.0,6.0,6.0,2.48,1.0,51.0,2.0,1.0,2.0,27909.120820,27820.477422,1.0,67.0,200.0,5.397605e-79,5.397605e-79,2.000000e+01,5.397605e-79
10146,51621.0,5.0,1.0,1.0,17.0,2.0,2.0,4.0,2.0,9.000000e+00,NaN,NaN,7.0,5.0,9.0,12.0,NaN,1.0,40.0,NaN,1.0,NaN,11057.659484,11298.321052,1.0,73.0,428.0,5.397605e-79,1.000000e+02,5.397605e-79,5.397605e-79
10147,51622.0,5.0,1.0,2.0,60.0,4.0,2.0,5.0,2.0,NaN,1.0,2.0,6.0,6.0,14.0,14.0,2.90,1.0,40.0,NaN,1.0,5.0,9842.672903,10339.755423,1.0,73.0,1071.0,5.397605e-79,5.397605e-79,4.000000e+01,5.397605e-79
10148,51623.0,5.0,2.0,1.0,72.0,3.0,2.0,5.0,1.0,NaN,1.0,2.0,2.0,2.0,3.0,3.0,0.95,1.0,72.0,1.0,2.0,NaN,24692.989537,27499.342780,1.0,62.0,857.0,1.280000e+02,5.397605e-79,5.397605e-79,5.397605e-79

,respondent_sequence_number,data_release_cycle,six_month_time_period,gender,age_in_years_at_screening,race_ethnic_origin,served_in_the_us_armed_forces,country_of_birth,citizenship_status,education_level_children_youth_6_19,education_level_adults_20,marital_status,total_number_of_people_in_the_household,total_number_of_people_in_the_family,annual_household_income,annual_family_income,ratio_of_family_income_to_poverty,hh_ref_person_gender,hh_ref_person_age,hh_ref_person_education_level,hh_ref_person_marital_status,hh_ref_person_spouse_education_level,full_sample_2_year_interview_weight,full_sample_2_year_mec_exam_weight,masked_variance_pseudo_psu,masked_variance_pseudo_stratum,money_spent_at_supermarket_grocery_store,money_spent_on_nonfood_items,money_spent_on_food_at_other_stores,money_spent_on_eating_out,money_spent_on_carryout_delivered_foods
0,93703.0,10.0,2.0,2.0,2.0,6.0,NaN,1.0,1.0,NaN,NaN,NaN,5.0,5.0,15.0,15.0,5.00,1.0,2.0,3.0,1.0,3.0,9246.491865,8539.731348,2.0,145.0,100.0,5.397605e-79,4.000000e+02,200.0,3.000000e+01
1,93704.0,10.0,1.0,1.0,2.0,3.0,NaN,1.0,1.0,NaN,NaN,NaN,4.0,4.0,15.0,15.0,5.00,1.0,2.0,3.0,1.0,2.0,37338.768343,42566.614750,1.0,143.0,900.0,3.000000e+01,5.397605e-79,50.0,2.500000e+01
2,93705.0,10.0,2.0,2.0,66.0,4.0,2.0,1.0,1.0,NaN,2.0,3.0,1.0,1.0,3.0,3.0,0.82,2.0,4.0,1.0,2.0,NaN,8614.571172,8338.419786,2.0,145.0,100.0,5.397605e-79,5.397605e-79,75.0,1.070000e+02
3,93706.0,10.0,2.0,1.0,18.0,6.0,2.0,1.0,1.0,15.0,NaN,NaN,5.0,5.0,NaN,NaN,NaN,1.0,4.0,3.0,1.0,2.0,8548.632619,8723.439814,2.0,134.0,NaN,NaN,NaN,NaN,NaN
4,93707.0,10.0,2.0,1.0,13.0,7.0,NaN,1.0,1.0,6.0,NaN,NaN,7.0,7.0,10.0,10.0,1.88,1.0,3.0,2.0,1.0,3.0,6769.344567,7064.609730,1.0,138.0,2142.0,2.000000e+02,6.000000e+01,200.0,1.000000e+02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9249,102952.0,10.0,2.0,2.0,70.0,6.0,2.0,2.0,1.0,NaN,3.0,1.0,2.0,2.0,4.0,4.0,0.95,2.0,4.0,2.0,1.0,1.0,16896.276203,18338.711104,2.0,138.0,450.0,1.000000e+02,1.000000e+02,120.0,5.397605e-79
9250,102953.0,10.0,2.0,1.0,42.0,1.0,2.0,2.0,2.0,NaN,3.0,4.0,1.0,1.0,12.0,12.0,NaN,1.0,3.0,2.0,2.0,NaN,61630.380013,63661.951573,2.0,137.0,250.0,5.397605e-79,1.280000e+02,200.0,5.397605e-79
9251,102954.0,10.0,1.0,2.0,41.0,4.0,2.0,1.0,1.0,NaN,5.0,5.0,7.0,7.0,10.0,10.0,1.18,2.0,3.0,2.0,2.0,NaN,17160.895269,17694.783346,1.0,144.0,300.0,5.397605e-79,4.000000e+02,200.0,4.000000e+01
9252,102955.0,10.0,2.0,2.0,14.0,4.0,NaN,1.0,1.0,8.0,NaN,NaN,4.0,4.0,9.0,9.0,2.24,2.0,3.0,2.0,1.0,2.0,14238.445922,14871.839636,1.0,136.0,1200.0,5.000000e+01,5.000000e+01,100.0,4.000000e+01
9253,102956.0,10.0,2.0,1.0,38.0,3.0,2.0,1.0,1.0,NaN,4.0,3.0,5.0,4.0,7.0,7.0,1.56,1.0,2.0,2.0,2.0,NaN,38645.740291,39426.299948,1.0,142.0,1200.0,2.000000e+02,1.500000e+02,200.0,5.397605e-79

In [13]:
# Printed the final column names to be able to copy them in the cells below:
print("2007-2008 survey final columns:")
print(filtered_merged_dfs[0].columns)
print("-" * 10)
print("2017-2018 survey final columns:")
print(filtered_merged_dfs[1].columns)

2007-2008 survey final columns:
Index(['respondent_sequence_number', 'data_release_cycle',
       'six_month_time_period', 'gender', 'age_in_years_at_screening',
       'race_ethnic_origin', 'served_in_the_us_armed_forces',
       'country_of_birth', 'citizenship_status',
       'education_level_children_youth_6_19', 'education_level_adults_20',
       'marital_status', 'total_number_of_people_in_the_household',
       'total_number_of_people_in_the_family', 'annual_household_income',
       'annual_family_income', 'ratio_of_family_income_to_poverty',
       'hh_ref_person_gender', 'hh_ref_person_age',
       'hh_ref_person_education_level', 'hh_ref_person_marital_status',
       'hh_ref_person_spouse_education_level',
       'full_sample_2_year_interview_weight',
       'full_sample_2_year_mec_exam_weight', 'masked_variance_pseudo_psu',
       'masked_variance_pseudo_stratum',
       'money_spent_at_supermarket_grocery_store',
       'money_spent_on_nonfood_items', 'money_spent_on_food_at_other_stores',
       'money_spent_on_eating_out', 'money_spent_on_carryout_delivered_foods'],
      dtype='object')
----------
2017-2018 survey final columns:
Index(['respondent_sequence_number', 'data_release_cycle',
       'six_month_time_period', 'gender', 'age_in_years_at_screening',
       'race_ethnic_origin', 'served_in_the_us_armed_forces',
       'country_of_birth', 'citizenship_status',
       'education_level_children_youth_6_19', 'education_level_adults_20',
       'marital_status', 'total_number_of_people_in_the_household',
       'total_number_of_people_in_the_family', 'annual_household_income',
       'annual_family_income', 'ratio_of_family_income_to_poverty',
       'hh_ref_person_gender', 'hh_ref_person_age',
       'hh_ref_person_education_level', 'hh_ref_person_marital_status',
       'hh_ref_person_spouse_education_level',
       'full_sample_2_year_interview_weight',
       'full_sample_2_year_mec_exam_weight', 'masked_variance_pseudo_psu',
       'masked_variance_pseudo_stratum',
       'money_spent_at_supermarket_grocery_store',
       'money_spent_on_nonfood_items', 'money_spent_on_food_at_other_stores',
       'money_spent_on_eating_out', 'money_spent_on_carryout_delivered_foods'],
      dtype='object')

In [14]:
# Based on the codebook, changed the dtypes of the columns that should be integers:
new_dtype = 'Int64'
columns_to_convert_l = ['respondent_sequence_number',
                        'data_release_cycle',
                        'six_month_time_period',
                        'gender',
                        'age_in_years_at_screening',
                        'race_ethnic_origin',
                        'served_in_the_us_armed_forces',
                        'country_of_birth',
                        'citizenship_status',
                        'education_level_children_youth_6_19',
                        'education_level_adults_20',
                        'marital_status',
                        'total_number_of_people_in_the_household',
                        'total_number_of_people_in_the_family',
                        'annual_household_income',
                        'annual_family_income',
                        'hh_ref_person_gender',
                        'hh_ref_person_age',
                        'hh_ref_person_education_level',
                        'hh_ref_person_marital_status',
                        'hh_ref_person_spouse_education_level',
                        'masked_variance_pseudo_psu',
                        'masked_variance_pseudo_stratum']

for df in filtered_merged_dfs:
    for col in columns_to_convert_l:
        df[col] = np.floor(pd.to_numeric(df[col], errors='coerce')).astype(new_dtype)
    display(df.dtypes)

respondent_sequence_number                    Int64
data_release_cycle                            Int64
six_month_time_period                         Int64
gender                                        Int64
age_in_years_at_screening                     Int64
race_ethnic_origin                            Int64
served_in_the_us_armed_forces                 Int64
country_of_birth                              Int64
citizenship_status                            Int64
education_level_children_youth_6_19           Int64
education_level_adults_20                     Int64
marital_status                                Int64
total_number_of_people_in_the_household       Int64
total_number_of_people_in_the_family          Int64
annual_household_income                       Int64
annual_family_income                          Int64
ratio_of_family_income_to_poverty           float64
hh_ref_person_gender                          Int64
hh_ref_person_age                             Int64
hh_ref_person_education_level                 Int64
hh_ref_person_marital_status                  Int64
hh_ref_person_spouse_education_level          Int64
full_sample_2_year_interview_weight         float64
full_sample_2_year_mec_exam_weight          float64
masked_variance_pseudo_psu                    Int64
masked_variance_pseudo_stratum                Int64
money_spent_at_supermarket_grocery_store    float64
money_spent_on_nonfood_items                float64
money_spent_on_food_at_other_stores         float64
money_spent_on_eating_out                   float64
money_spent_on_carryout_delivered_foods     float64
dtype: object

respondent_sequence_number                    Int64
data_release_cycle                            Int64
six_month_time_period                         Int64
gender                                        Int64
age_in_years_at_screening                     Int64
race_ethnic_origin                            Int64
served_in_the_us_armed_forces                 Int64
country_of_birth                              Int64
citizenship_status                            Int64
education_level_children_youth_6_19           Int64
education_level_adults_20                     Int64
marital_status                                Int64
total_number_of_people_in_the_household       Int64
total_number_of_people_in_the_family          Int64
annual_household_income                       Int64
annual_family_income                          Int64
ratio_of_family_income_to_poverty           float64
hh_ref_person_gender                          Int64
hh_ref_person_age                             Int64
hh_ref_person_education_level                 Int64
hh_ref_person_marital_status                  Int64
hh_ref_person_spouse_education_level          Int64
full_sample_2_year_interview_weight         float64
full_sample_2_year_mec_exam_weight          float64
masked_variance_pseudo_psu                    Int64
masked_variance_pseudo_stratum                Int64
money_spent_at_supermarket_grocery_store    float64
money_spent_on_nonfood_items                float64
money_spent_on_food_at_other_stores         float64
money_spent_on_eating_out                   float64
money_spent_on_carryout_delivered_foods     float64
dtype: object

In [15]:
# Altered the values of some columns to display clearer data in the visualizations:

## 1. The 'age_in_years_at_screening' columns of both surveys and the 'hh_ref_person_age_groups' of the 2007-2008
## survey: created age bins and labels to unify all the values of all the age columns, based on the
## 'hh_ref_person_age_groups' column of the 2017-2018 survey, by adding a new column called 'age_groups', which bins
## the ages into specific groups:
age_bins = [0, 20, 40, 60, 81]
binned_age_labels = np.arange(1, 5)

## 2. The 'country_of_birth' columns of both surveys: created a dictionary to replace some of the values to better
## match the data between both surveys:
country_of_birth_value_replace_d = {2:3, 4:3, 5:3}

## 3. The 'education_level_children_youth_6_19' column of both surveys: created a dictionary to replace two of the
## values, which were unclear, and added them to the "Don't know" category:
education_level_children_youth_6_19_value_replace_d = {55:999999, 66:999999}

## 4. The 'education_level_adults_20' of both surveys and the 'hh_ref_person_education_level' and
## 'hh_ref_person_spouse_education_level' columns of the 2007-2008 survey: created a dictionary to unify the values of
## all the education level columns, based on the 'hh_ref_person_education_level' column of the 2017-2018 survey:
education_level_value_replace_d = {2:1, 3:2, 4:2, 5:3}

## 5. The 'marital_status' of both surveys and the 'hh_ref_person_marital_status' column of the 2007-2008 survey:
## created a dictionary to unify the values of all the marital status columns, based on the
## 'hh_ref_person_marital_status' column of the 2017-2018 survey:
marital_status_value_replace_d = {3:2, 4:2, 5:3, 6:1}

## 6. The 'annual_household_income' and 'annual_family_income' columns of both surveys: created a dictionary to
## replace two of the values, which were unclear, and added them to the "Don't know" category:
annual_income_value_replace_d = {12:999999, 13:999999}

## 7. The 'served_in_the_us_armed_forces', 'citizenship_status', 'education_level_adults_20', 'hh_ref_person_education_level',
## and 'hh_ref_person_spouse_education_level' columns of both surveys and the 'country_of_birth' column of the 2007-2008
## survey: created a dictionary to turn the 'Refused' and "Don't know" responses from 7's and 9's into 777777's and 999999's
## respectively:
unknown_answers_7and9_d = {7:777777, 9:999999}

## 8. The 'education_level_children_youth_6_19', 'marital_status'. 'annual_household_income', 'annual_family_income', and
## 'hh_ref_person_marital_status' of both surveys and the 'country_of_birth' of the 2017-2018 survey: created a dictionary
## to turn the 'Refused' and "Don't know" responses from 77's and 99's into 777777's and 999999's respectively:
unknown_answers_77and99_d = {77:777777, 99:999999}




# Ran the 8 changes explained above by calling the respective DataFrame(s) (& ratio rounded up):
for df in filtered_merged_dfs:
    df['age_groups'] = pd.cut(df['age_in_years_at_screening'],
                              bins=age_bins,
                              labels=binned_age_labels,
                              right=False)
    df['served_in_the_us_armed_forces'] = df['served_in_the_us_armed_forces'].replace(unknown_answers_7and9_d)
    df['country_of_birth'] = df['country_of_birth'].replace(country_of_birth_value_replace_d)
    df['citizenship_status'] = df['citizenship_status'].replace(unknown_answers_7and9_d)
    df['education_level_children_youth_6_19'] = df['education_level_children_youth_6_19']\
        .replace(education_level_children_youth_6_19_value_replace_d).replace(unknown_answers_77and99_d)
    df['education_level_adults_20'] = df['education_level_adults_20'].replace(education_level_value_replace_d)\
        .replace(unknown_answers_7and9_d)
    df['marital_status'] = df['marital_status'].replace(marital_status_value_replace_d).replace(unknown_answers_77and99_d)
    df['annual_household_income'] = df['annual_household_income'].replace(annual_income_value_replace_d)\
        .replace(unknown_answers_77and99_d)
    df['annual_family_income'] = df['annual_family_income'].replace(annual_income_value_replace_d)\
        .replace(unknown_answers_77and99_d)
    df['ratio_of_family_income_to_poverty'] = np.ceil(df['ratio_of_family_income_to_poverty'])
    df['hh_ref_person_education_level'] = df['hh_ref_person_education_level'].replace(unknown_answers_7and9_d)
    df['hh_ref_person_marital_status'] = df['hh_ref_person_marital_status'].replace(unknown_answers_77and99_d)
    df['hh_ref_person_spouse_education_level'] = df['hh_ref_person_spouse_education_level']\
        .replace(unknown_answers_7and9_d)
    df['full_sample_2_year_interview_weight'] = round(df['full_sample_2_year_interview_weight'], 2)
    df['full_sample_2_year_mec_exam_weight'] = round(df['full_sample_2_year_mec_exam_weight'], 2)
    df['money_spent_at_supermarket_grocery_store'] = round(df['money_spent_at_supermarket_grocery_store'], 2)
    df['money_spent_on_nonfood_items'] = round(df['money_spent_on_nonfood_items'], 2)
    df['money_spent_on_food_at_other_stores'] = round(df['money_spent_on_food_at_other_stores'], 2)
    df['money_spent_on_eating_out'] = round(df['money_spent_on_eating_out'], 2)
    df['money_spent_on_carryout_delivered_foods'] = round(df['money_spent_on_carryout_delivered_foods'], 2)
    
filtered_merged_dfs[0]['country_of_birth'] = filtered_merged_dfs[0]['country_of_birth'].replace(unknown_answers_7and9_d)
filtered_merged_dfs[1]['country_of_birth'] = filtered_merged_dfs[1]['country_of_birth'].replace(unknown_answers_77and99_d)
filtered_merged_dfs[0]['hh_ref_person_age_groups'] = pd.cut(filtered_merged_dfs[0]['hh_ref_person_age'],
                                                            bins=age_bins,
                                                            labels=binned_age_labels,
                                                            right=False)
filtered_merged_dfs[0]['hh_ref_person_education_level'] = filtered_merged_dfs[0]['hh_ref_person_education_level']\
    .replace(education_level_value_replace_d)
filtered_merged_dfs[0]['hh_ref_person_spouse_education_level'] = filtered_merged_dfs[0]['hh_ref_person_spouse_education_level']\
    .replace(education_level_value_replace_d)
filtered_merged_dfs[0]['hh_ref_person_marital_status'] = filtered_merged_dfs[0]['hh_ref_person_marital_status']\
    .replace(marital_status_value_replace_d)

# Drop & rename:
for df in filtered_merged_dfs:
    df.drop(columns='age_in_years_at_screening', inplace=True)
    df.rename(columns={'age_groups': 'age_in_years_at_screening'}, inplace=True)
    
filtered_merged_dfs[0] = filtered_merged_dfs[0].drop(columns='hh_ref_person_age')
filtered_merged_dfs[0] = filtered_merged_dfs[0].rename(columns={'hh_ref_person_age_groups': 'hh_ref_person_age'})

# Created a variable to store the final order of the columns, used it to re-sort them after the changes, and saved the
# final DataFrames in a new variable:
final_column_order_l = ['respondent_sequence_number',
                        'data_release_cycle',
                        'six_month_time_period',
                        'gender',
                        'age_in_years_at_screening',
                        'race_ethnic_origin',
                        'served_in_the_us_armed_forces',
                        'country_of_birth',
                        'citizenship_status',
                        'education_level_children_youth_6_19',
                        'education_level_adults_20',
                        'marital_status',
                        'total_number_of_people_in_the_household',
                        'total_number_of_people_in_the_family',
                        'annual_household_income',
                        'annual_family_income',
                        'ratio_of_family_income_to_poverty',
                        'hh_ref_person_gender',
                        'hh_ref_person_age',
                        'hh_ref_person_education_level',
                        'hh_ref_person_marital_status',
                        'hh_ref_person_spouse_education_level',
                        'full_sample_2_year_interview_weight',
                        'full_sample_2_year_mec_exam_weight',
                        'masked_variance_pseudo_psu',
                        'masked_variance_pseudo_stratum',
                        'money_spent_at_supermarket_grocery_store',
                        'money_spent_on_nonfood_items',
                        'money_spent_on_food_at_other_stores',
                        'money_spent_on_eating_out',
                        'money_spent_on_carryout_delivered_foods']

final_dfs = []
for df in filtered_merged_dfs:
    final_df = df[final_column_order_l]
    final_dfs.append(final_df)

display(final_dfs[0])
display(final_dfs[1])

,respondent_sequence_number,data_release_cycle,six_month_time_period,gender,age_in_years_at_screening,race_ethnic_origin,served_in_the_us_armed_forces,country_of_birth,citizenship_status,education_level_children_youth_6_19,education_level_adults_20,marital_status,total_number_of_people_in_the_household,total_number_of_people_in_the_family,annual_household_income,annual_family_income,ratio_of_family_income_to_poverty,hh_ref_person_gender,hh_ref_person_age,hh_ref_person_education_level,hh_ref_person_marital_status,hh_ref_person_spouse_education_level,full_sample_2_year_interview_weight,full_sample_2_year_mec_exam_weight,masked_variance_pseudo_psu,masked_variance_pseudo_stratum,money_spent_at_supermarket_grocery_store,money_spent_on_nonfood_items,money_spent_on_food_at_other_stores,money_spent_on_eating_out,money_spent_on_carryout_delivered_foods
0,41475,5,2,2,4,5,2,1,1,<NA>,2,1,2,2,6,6,2.0,1,4,2,1,2,59356.36,60045.77,1,60,320.0,40.0,80.0,45.0,0.0
1,41476,5,1,2,1,5,<NA>,1,1,0,<NA>,<NA>,6,6,15,15,5.0,1,3,3,1,3,35057.22,35353.21,1,70,900.0,0.0,0.0,400.0,20.0
2,41477,5,2,1,4,3,1,1,1,<NA>,2,1,2,2,5,5,2.0,1,4,2,1,2,9935.27,10074.15,1,67,400.0,80.0,60.0,40.0,0.0
3,41478,5,2,2,1,3,<NA>,1,1,<NA>,<NA>,<NA>,4,4,3,3,1.0,2,2,1,1,2,12846.71,14560.47,2,59,70.0,0.0,200.0,25.0,15.0
4,41479,5,1,1,3,1,2,3,1,<NA>,1,1,5,5,8,8,3.0,1,3,1,1,2,8727.80,9234.06,1,70,550.0,0.0,0.0,150.0,50.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10144,51619,5,1,1,4,1,2,3,1,<NA>,1,1,7,7,14,14,3.0,2,2,2,1,2,5197.08,5390.20,2,71,350.0,0.0,90.0,100.0,44.0
10145,51620,5,2,2,3,3,2,1,1,<NA>,1,1,2,2,6,6,3.0,1,3,1,1,1,27909.12,27820.48,1,67,200.0,0.0,0.0,20.0,0.0
10146,51621,5,1,1,1,2,2,3,2,9,<NA>,<NA>,7,5,9,999999,NaN,1,3,<NA>,1,<NA>,11057.66,11298.32,1,73,428.0,0.0,100.0,0.0,0.0
10147,51622,5,1,2,4,4,2,3,2,<NA>,1,2,6,6,14,14,3.0,1,3,<NA>,1,3,9842.67,10339.76,1,73,1071.0,0.0,0.0,40.0,0.0
10148,51623,5,2,1,4,3,2,3,1,<NA>,1,2,2,2,3,3,1.0,1,4,1,2,<NA>,24692.99,27499.34,1,62,857.0,128.0,0.0,0.0,0.0

,respondent_sequence_number,data_release_cycle,six_month_time_period,gender,age_in_years_at_screening,race_ethnic_origin,served_in_the_us_armed_forces,country_of_birth,citizenship_status,education_level_children_youth_6_19,education_level_adults_20,marital_status,total_number_of_people_in_the_household,total_number_of_people_in_the_family,annual_household_income,annual_family_income,ratio_of_family_income_to_poverty,hh_ref_person_gender,hh_ref_person_age,hh_ref_person_education_level,hh_ref_person_marital_status,hh_ref_person_spouse_education_level,full_sample_2_year_interview_weight,full_sample_2_year_mec_exam_weight,masked_variance_pseudo_psu,masked_variance_pseudo_stratum,money_spent_at_supermarket_grocery_store,money_spent_on_nonfood_items,money_spent_on_food_at_other_stores,money_spent_on_eating_out,money_spent_on_carryout_delivered_foods
0,93703,10,2,2,1,6,<NA>,1,1,<NA>,<NA>,<NA>,5,5,15,15,5.0,1,2,3,1,3,9246.49,8539.73,2,145,100.0,0.0,400.0,200.0,30.0
1,93704,10,1,1,1,3,<NA>,1,1,<NA>,<NA>,<NA>,4,4,15,15,5.0,1,2,3,1,2,37338.77,42566.61,1,143,900.0,30.0,0.0,50.0,25.0
2,93705,10,2,2,4,4,2,1,1,<NA>,1,2,1,1,3,3,1.0,2,4,1,2,<NA>,8614.57,8338.42,2,145,100.0,0.0,0.0,75.0,107.0
3,93706,10,2,1,1,6,2,1,1,15,<NA>,<NA>,5,5,<NA>,<NA>,NaN,1,4,3,1,2,8548.63,8723.44,2,134,NaN,NaN,NaN,NaN,NaN
4,93707,10,2,1,1,7,<NA>,1,1,6,<NA>,<NA>,7,7,10,10,2.0,1,3,2,1,3,6769.34,7064.61,1,138,2142.0,200.0,60.0,200.0,100.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9249,102952,10,2,2,4,6,2,3,1,<NA>,2,1,2,2,4,4,1.0,2,4,2,1,1,16896.28,18338.71,2,138,450.0,100.0,100.0,120.0,0.0
9250,102953,10,2,1,3,1,2,3,2,<NA>,2,2,1,1,999999,999999,NaN,1,3,2,2,<NA>,61630.38,63661.95,2,137,250.0,0.0,128.0,200.0,0.0
9251,102954,10,1,2,3,4,2,1,1,<NA>,3,3,7,7,10,10,2.0,2,3,2,2,<NA>,17160.90,17694.78,1,144,300.0,0.0,400.0,200.0,40.0
9252,102955,10,2,2,1,4,<NA>,1,1,8,<NA>,<NA>,4,4,9,9,3.0,2,3,2,1,2,14238.45,14871.84,1,136,1200.0,50.0,50.0,100.0,40.0
9253,102956,10,2,1,2,3,2,1,1,<NA>,2,2,5,4,7,7,2.0,1,2,2,2,<NA>,38645.74,39426.30,1,142,1200.0,200.0,150.0,200.0,0.0

In [16]:
# Concatenated both surveys and exported them as a CSV file:
final_df = pd.concat([final_dfs[0], final_dfs[1]])
# final_df = final_df.fillna(np.nan)
path = '../resources'
final_df.to_csv(path+'/final_df.csv', index=False)

In [31]:
# Converted col from categorical to int64
final_df['age_in_years_at_screening'] = np.floor(pd.to_numeric(final_df['age_in_years_at_screening'],
                                                               errors='coerce')).astype(new_dtype)

# continuous_cols_l = ['age_in_years_at_screening',
#                      'total_number_of_people_in_the_household',                    
#                      'total_number_of_people_in_the_family',                    
#                      'annual_household_income',                    
#                      'annual_family_income',                    
#                      'ratio_of_family_income_to_poverty',                    
#                      'hh_ref_person_age',                    
#                      'money_spent_at_supermarket_grocery_store',                    
#                      'money_spent_on_nonfood_items',                    
#                      'money_spent_on_food_at_other_stores',
#                      'money_spent_on_eating_out',                   
#                      'money_spent_on_carryout_delivered_foods']

filters_l = ['data_release_cycle',
             'gender',
             'age_in_years_at_screening',
             'race_ethnic_origin',
             'served_in_the_us_armed_forces',
             'country_of_birth',
             'citizenship_status',
             'education_level_children_youth_6_19',
             'education_level_adults_20',
             'marital_status',
             'total_number_of_people_in_the_household',
             'total_number_of_people_in_the_family',
             'annual_household_income',
             'annual_family_income',
             'ratio_of_family_income_to_poverty',
             'hh_ref_person_gender',
             'hh_ref_person_age',
             'hh_ref_person_education_level',
             'hh_ref_person_marital_status',
             'hh_ref_person_spouse_education_level']

consumer_behaviour_cols_l = ['money_spent_at_supermarket_grocery_store',
                             'money_spent_on_nonfood_items',
                             'money_spent_on_food_at_other_stores',
                             'money_spent_on_eating_out',
                             'money_spent_on_carryout_delivered_foods']

# continuous_cols_df = final_df[continuous_cols_l].copy()
# consumer_behaviour_cols_df = final_df[consumer_behaviour_cols_l].copy()

values_to_replace_consumer_behaviour_cols_d = {777777:np.nan, 999999:np.nan}

test_final_df = final_df.copy()

for col in consumer_behaviour_cols_l:
    test_final_df[col] = test_final_df[col].replace(values_to_replace_consumer_behaviour_cols_d)

column = filters_l[0]
for col in filters_l:
    display(test_final_df.groupby(col)[consumer_behaviour_cols_l].mean())
    display(test_final_df.groupby(col)[consumer_behaviour_cols_l].median())

    
# averages_consumer_behaviour_cols_l = []
# medians_consumer_behaviour_cols_l = []

# for col in consumer_behaviour_cols_df.columns:    
#     average_result = consumer_behaviour_cols_df[col].mean()
#     median_result = consumer_behaviour_cols_df[col].median()
#     averages_consumer_behaviour_cols_l.append(average_result)
#     medians_consumer_behaviour_cols_l.append(median_result)

# print(averages_consumer_behaviour_cols_l)    
# print(medians_consumer_behaviour_cols_l)

# for col in consumer_behaviour_cols_df.columns:
#     consumer_behaviour_cols_df[col].plot(kind='hist')

# consumer_behaviour_cols_df['money_spent_at_supermarket_grocery_store'].plot(kind='hist')

,money_spent_at_supermarket_grocery_store,money_spent_on_nonfood_items,money_spent_on_food_at_other_stores,money_spent_on_eating_out,money_spent_on_carryout_delivered_foods
data_release_cycle,,,,,
5,427.889858,40.723022,63.472670,127.694827,24.329294
10,458.346438,39.056220,153.218262,166.699076,34.726726

,money_spent_at_supermarket_grocery_store,money_spent_on_nonfood_items,money_spent_on_food_at_other_stores,money_spent_on_eating_out,money_spent_on_carryout_delivered_foods
data_release_cycle,,,,,
5,400.0,0.0,0.0,80.0,0.0
10,400.0,0.0,100.0,100.0,0.0

,money_spent_at_supermarket_grocery_store,money_spent_on_nonfood_items,money_spent_on_food_at_other_stores,money_spent_on_eating_out,money_spent_on_carryout_delivered_foods
gender,,,,,
1,445.931177,40.450060,106.032062,149.722948,30.466862
2,438.345095,39.441091,104.500375,142.156760,27.896522

,money_spent_at_supermarket_grocery_store,money_spent_on_nonfood_items,money_spent_on_food_at_other_stores,money_spent_on_eating_out,money_spent_on_carryout_delivered_foods
gender,,,,,
1,400.0,0.0,40.0,100.0,0.0
2,400.0,0.0,35.0,100.0,0.0

,money_spent_at_supermarket_grocery_store,money_spent_on_nonfood_items,money_spent_on_food_at_other_stores,money_spent_on_eating_out,money_spent_on_carryout_delivered_foods
age_in_years_at_screening,,,,,
1,507.400842,40.940563,122.204835,150.921623,32.142294
2,429.889991,38.749193,111.547598,164.112433,33.596137
3,437.943961,43.925343,101.810035,159.609864,30.606457
4,332.999256,35.654568,71.141029,109.890462,18.768516

,money_spent_at_supermarket_grocery_store,money_spent_on_nonfood_items,money_spent_on_food_at_other_stores,money_spent_on_eating_out,money_spent_on_carryout_delivered_foods
age_in_years_at_screening,,,,,
1,428.0,0.0,50.0,100.0,0.0
2,400.0,0.0,42.0,100.0,0.0
3,400.0,0.0,40.0,100.0,0.0
4,300.0,0.0,10.0,50.0,0.0

,money_spent_at_supermarket_grocery_store,money_spent_on_nonfood_items,money_spent_on_food_at_other_stores,money_spent_on_eating_out,money_spent_on_carryout_delivered_foods
race_ethnic_origin,,,,,
1,495.743239,44.236298,128.197087,153.157545,28.744276
2,485.734997,36.659871,125.782288,147.651475,26.905889
3,438.600313,47.792191,80.642007,149.611970,25.194688
4,358.655726,25.389579,82.584142,108.374598,33.436306
5,447.279121,40.061810,78.096280,157.655814,25.730684
6,494.068246,34.808935,250.178739,218.587347,37.289449
7,522.149007,43.338358,121.263423,173.598347,44.866889

,money_spent_at_supermarket_grocery_store,money_spent_on_nonfood_items,money_spent_on_food_at_other_stores,money_spent_on_eating_out,money_spent_on_carryout_delivered_foods
race_ethnic_origin,,,,,
1,428.0,0.0,50.0,100.0,0.0
2,428.0,0.0,50.0,100.0,0.0
3,400.0,15.0,20.0,100.0,0.0
4,300.0,0.0,30.0,60.0,0.0
5,400.0,0.0,0.0,100.0,0.0
6,428.0,0.0,200.0,150.0,0.0
7,400.0,0.0,100.0,100.0,14.0

,money_spent_at_supermarket_grocery_store,money_spent_on_nonfood_items,money_spent_on_food_at_other_stores,money_spent_on_eating_out,money_spent_on_carryout_delivered_foods
served_in_the_us_armed_forces,,,,,
1,337.142744,39.639905,69.616170,130.850629,24.215671
2,409.984598,39.787558,98.554994,145.906972,28.355424
777777,152.000000,0.000000,0.000000,0.000000,5.000000
999999,75.000000,0.000000,25.000000,30.000000,0.000000

,money_spent_at_supermarket_grocery_store,money_spent_on_nonfood_items,money_spent_on_food_at_other_stores,money_spent_on_eating_out,money_spent_on_carryout_delivered_foods
served_in_the_us_armed_forces,,,,,
1,300.0,10.0,20.0,75.0,0.0
2,350.0,0.0,30.0,100.0,0.0
777777,152.0,0.0,0.0,0.0,5.0
999999,75.0,0.0,25.0,30.0,0.0

,money_spent_at_supermarket_grocery_store,money_spent_on_nonfood_items,money_spent_on_food_at_other_stores,money_spent_on_eating_out,money_spent_on_carryout_delivered_foods
country_of_birth,,,,,
1,432.869770,39.857752,95.008008,144.176230,29.915249
3,482.773684,40.316411,150.247021,153.724435,25.969477
777777,476.000000,60.000000,72.800000,116.000000,2.000000
999999,599.500000,0.000000,257.000000,125.000000,30.000000

,money_spent_at_supermarket_grocery_store,money_spent_on_nonfood_items,money_spent_on_food_at_other_stores,money_spent_on_eating_out,money_spent_on_carryout_delivered_foods
country_of_birth,,,,,
1,400.0,0.0,30.0,100.0,0.0
3,428.0,0.0,64.0,100.0,0.0
777777,600.0,100.0,0.0,160.0,0.0
999999,599.5,0.0,257.0,125.0,30.0

,money_spent_at_supermarket_grocery_store,money_spent_on_nonfood_items,money_spent_on_food_at_other_stores,money_spent_on_eating_out,money_spent_on_carryout_delivered_foods
citizenship_status,,,,,
1,435.808303,39.732321,100.299494,145.540937,29.896864
2,502.317525,41.710603,149.705373,149.796921,22.481268
777777,512.409091,60.000000,313.833333,148.095238,20.208333
999999,398.400000,43.600000,227.700000,138.400000,16.500000

,money_spent_at_supermarket_grocery_store,money_spent_on_nonfood_items,money_spent_on_food_at_other_stores,money_spent_on_eating_out,money_spent_on_carryout_delivered_foods
citizenship_status,,,,,
1,400.0,0.0,30.0,100.0,0.0
2,428.0,0.0,60.0,100.0,0.0
777777,621.0,0.0,278.5,100.0,0.0
999999,350.0,25.0,100.0,126.5,0.0

,money_spent_at_supermarket_grocery_store,money_spent_on_nonfood_items,money_spent_on_food_at_other_stores,money_spent_on_eating_out,money_spent_on_carryout_delivered_foods
education_level_children_youth_6_19,,,,,
0,505.253165,36.111675,130.202532,158.351010,31.050125
1,529.558673,39.664103,139.994872,148.328205,30.638462
2,533.037037,39.729529,135.125307,156.975124,37.911330
3,524.828283,38.801020,126.020151,157.921717,35.875000
4,584.267016,39.340314,114.631854,168.326203,32.413158
5,560.545455,48.896203,127.403023,173.751282,34.191327
6,555.884106,43.741722,136.102990,156.594684,35.709571
7,531.648026,50.729373,147.532895,161.123746,38.254902
8,534.725086,43.780069,115.568493,187.010417,33.525773
9,510.513678,45.333333,128.012158,148.981191,34.570552
10,498.396491,44.468310,116.820423,167.476868,33.647887
11,542.090301,50.329932,123.523333,201.166090,41.418367
12,472.745098,32.941176,50.745098,118.632653,25.313725
13,455.642534,53.300000,138.627803,172.130045,43.389381
14,393.500000,30.214286,122.928571,89.642857,13.142857
15,402.083916,42.878571,101.222222,180.529851,40.591549
999999,492.586207,44.551724,162.379310,91.857143,21.000000

,money_spent_at_supermarket_grocery_store,money_spent_on_nonfood_items,money_spent_on_food_at_other_stores,money_spent_on_eating_out,money_spent_on_carryout_delivered_foods
education_level_children_youth_6_19,,,,,
0,428.0,0.0,50.0,100.0,0.0
1,500.0,0.0,50.0,100.0,0.0
2,470.0,0.0,50.0,100.0,0.0
3,500.0,0.0,50.0,100.0,0.0
4,500.0,0.0,50.0,100.0,0.0
5,500.0,0.0,60.0,100.0,0.0
6,500.0,0.0,60.0,100.0,0.0
7,500.0,0.0,67.0,110.0,0.0
8,500.0,0.0,50.0,100.0,0.0
9,500.0,0.0,40.0,100.0,0.0
10,450.0,0.0,50.0,100.0,0.0
11,450.0,0.0,50.0,125.0,0.0
12,400.0,0.0,0.0,75.0,0.0
13,400.0,0.0,50.0,100.0,0.0
14,321.0,0.0,75.0,67.5,0.0
15,400.0,0.0,46.0,100.0,12.5
999999,400.0,0.0,90.0,45.0,0.0

,money_spent_at_supermarket_grocery_store,money_spent_on_nonfood_items,money_spent_on_food_at_other_stores,money_spent_on_eating_out,money_spent_on_carryout_delivered_foods
education_level_adults_20,,,,,
1,413.129847,33.060595,94.118146,103.232516,20.505824
2,379.752684,39.596197,89.719634,133.025079,28.209680
3,418.871261,45.974337,102.120242,213.860017,32.622731
777777,290.000000,0.000000,182.000000,50.000000,3.333333
999999,358.200000,25.000000,77.777778,74.400000,1.818182

,money_spent_at_supermarket_grocery_store,money_spent_on_nonfood_items,money_spent_on_food_at_other_stores,money_spent_on_eating_out,money_spent_on_carryout_delivered_foods
education_level_adults_20,,,,,
1,350.0,0.0,6.0,50.0,0.0
2,300.0,0.0,30.0,85.0,0.0
3,400.0,20.0,42.0,150.0,0.0
777777,290.0,0.0,182.0,50.0,0.0
999999,283.5,20.0,0.0,77.5,0.0

,money_spent_at_supermarket_grocery_store,money_spent_on_nonfood_items,money_spent_on_food_at_other_stores,money_spent_on_eating_out,money_spent_on_carryout_delivered_foods
marital_status,,,,,
1,448.598822,45.512256,108.081800,164.272613,28.255631
2,297.505410,27.987155,63.000769,95.389996,19.538669
3,354.550000,33.306904,85.445275,132.335336,33.778794
777777,236.000000,0.000000,76.800000,60.000000,15.714286

,money_spent_at_supermarket_grocery_store,money_spent_on_nonfood_items,money_spent_on_food_at_other_stores,money_spent_on_eating_out,money_spent_on_carryout_delivered_foods
marital_status,,,,,
1,400.0,0.0,40.0,100.0,0.0
2,241.0,0.0,5.0,50.0,0.0
3,300.0,0.0,28.0,85.0,0.0
777777,250.0,0.0,0.0,100.0,0.0

,money_spent_at_supermarket_grocery_store,money_spent_on_nonfood_items,money_spent_on_food_at_other_stores,money_spent_on_eating_out,money_spent_on_carryout_delivered_foods
total_number_of_people_in_the_household,,,,,
1,188.115456,21.949375,34.602841,81.481572,13.752905
2,323.343469,36.498002,70.809424,136.051350,22.567553
3,404.009868,38.269115,97.408115,143.572035,29.442549
4,485.356307,44.930360,107.843050,164.855103,32.304006
5,548.434470,44.685766,141.552641,169.139781,35.521238
6,561.679975,47.425172,151.501540,152.813333,36.583230
7,657.911573,41.948129,160.918778,148.531229,34.505222

,money_spent_at_supermarket_grocery_store,money_spent_on_nonfood_items,money_spent_on_food_at_other_stores,money_spent_on_eating_out,money_spent_on_carryout_delivered_foods
total_number_of_people_in_the_household,,,,,
1,154.0,0.0,0.0,30.0,0.0
2,300.0,0.0,20.0,75.0,0.0
3,375.0,0.0,42.0,100.0,0.0
4,428.0,0.0,42.0,100.0,0.0
5,500.0,0.0,80.0,100.0,0.0
6,500.0,0.0,50.0,100.0,0.0
7,600.0,0.0,50.0,100.0,0.0

,money_spent_at_supermarket_grocery_store,money_spent_on_nonfood_items,money_spent_on_food_at_other_stores,money_spent_on_eating_out,money_spent_on_carryout_delivered_foods
total_number_of_people_in_the_family,,,,,
1,217.206452,24.696798,41.974400,100.754611,18.842817
2,333.405958,37.256116,73.593541,133.251536,21.916739
3,417.495298,39.093375,99.161563,144.623844,29.059303
4,490.585211,45.062733,109.960977,165.397632,32.257333
5,555.874167,44.432071,142.173639,171.801205,35.847181
6,571.055736,48.574496,156.751282,157.662046,37.151907
7,670.931948,43.424330,169.104885,146.766099,36.143579

,money_spent_at_supermarket_grocery_store,money_spent_on_nonfood_items,money_spent_on_food_at_other_stores,money_spent_on_eating_out,money_spent_on_carryout_delivered_foods
total_number_of_people_in_the_family,,,,,
1,200.0,0.0,0.0,42.0,0.0
2,300.0,8.0,21.0,75.0,0.0
3,400.0,0.0,42.0,100.0,0.0
4,428.0,0.0,50.0,100.0,0.0
5,500.0,0.0,75.0,100.0,0.0
6,500.0,0.0,75.0,100.0,0.0
7,600.0,0.0,50.0,100.0,0.0

,money_spent_at_supermarket_grocery_store,money_spent_on_nonfood_items,money_spent_on_food_at_other_stores,money_spent_on_eating_out,money_spent_on_carryout_delivered_foods
annual_household_income,,,,,
1,364.543158,23.719745,118.070981,63.212500,22.166320
2,313.424528,17.319407,61.350404,58.378082,19.857527
3,344.231771,24.698080,64.817158,65.723649,19.031008
4,401.076394,28.537394,81.744275,74.167431,17.230710
5,417.256688,32.130182,81.261339,93.715736,20.954414
6,412.888838,32.523245,84.554097,96.784897,21.898228
7,425.077638,41.336070,118.275315,120.390849,24.281010
8,421.093093,33.931217,104.120599,135.694966,27.673637
9,448.727117,39.827203,114.446062,142.259259,29.129804
10,451.025800,47.487526,122.002062,171.091195,35.940452
14,483.578665,53.986285,100.464413,195.271309,38.742704
15,574.149946,64.350430,145.010695,304.216285,49.734526
777777,386.864151,20.358566,121.845018,161.169173,13.066421
999999,459.082413,36.373598,126.475630,134.518885,29.675292

,money_spent_at_supermarket_grocery_store,money_spent_on_nonfood_items,money_spent_on_food_at_other_stores,money_spent_on_eating_out,money_spent_on_carryout_delivered_foods
annual_household_income,,,,,
1,300.0,0.0,30.0,30.0,0.0
2,281.5,0.0,4.0,25.0,0.0
3,300.0,0.0,10.0,25.0,0.0
4,325.0,0.0,0.0,40.0,0.0
5,385.0,0.0,20.0,50.0,0.0
6,400.0,0.0,30.0,60.0,0.0
7,400.0,0.0,50.0,85.0,0.0
8,400.0,0.0,40.0,100.0,0.0
9,400.0,0.0,50.0,100.0,0.0
10,400.0,15.0,50.0,126.5,10.0
14,428.0,20.0,50.0,150.0,0.0
15,500.0,30.0,100.0,200.0,20.0
777777,350.0,0.0,0.0,100.0,0.0
999999,400.0,0.0,0.0,100.0,0.0

,money_spent_at_supermarket_grocery_store,money_spent_on_nonfood_items,money_spent_on_food_at_other_stores,money_spent_on_eating_out,money_spent_on_carryout_delivered_foods
annual_family_income,,,,,
1,349.238250,23.525285,105.685393,67.403226,21.086677
2,311.323926,18.415951,59.314496,60.642946,20.745410
3,336.958771,24.817222,64.149073,68.827445,18.827062
4,395.366642,28.444033,80.600440,78.784357,17.901099
5,413.678025,32.226573,79.972299,96.965157,21.680334
6,418.088500,33.976513,86.320305,98.546527,22.267599
7,428.000000,41.316441,121.436548,124.678389,25.108413
8,426.433308,33.248062,104.150653,141.447531,29.079693
9,453.359893,40.423456,117.584450,144.387737,28.558534
10,464.376509,48.320796,124.481888,175.908277,34.812022
14,485.721805,55.065831,103.788653,195.704101,39.494994
15,581.936233,65.205850,147.569797,305.872276,50.144970
777777,380.369811,20.386454,124.426471,160.183521,14.944853
999999,470.358839,36.929338,126.341739,133.702526,29.075194

,money_spent_at_supermarket_grocery_store,money_spent_on_nonfood_items,money_spent_on_food_at_other_stores,money_spent_on_eating_out,money_spent_on_carryout_delivered_foods
annual_family_income,,,,,
1,300.0,0.0,25.0,30.0,0.0
2,278.0,0.0,0.0,24.0,0.0
3,300.0,0.0,10.0,30.0,0.0
4,321.0,0.0,0.0,42.0,0.0
5,385.0,0.0,20.0,50.0,0.0
6,400.0,0.0,30.0,60.0,0.0
7,400.0,0.0,50.0,100.0,0.0
8,400.0,0.0,40.0,100.0,0.0
9,400.0,0.0,50.0,100.0,0.0
10,400.0,12.5,50.0,128.0,10.0
14,428.0,21.0,50.0,150.0,0.0
15,500.0,30.0,100.0,200.0,20.0
777777,300.0,0.0,0.0,100.0,0.0
999999,400.0,0.0,0.0,90.0,0.0

,money_spent_at_supermarket_grocery_store,money_spent_on_nonfood_items,money_spent_on_food_at_other_stores,money_spent_on_eating_out,money_spent_on_carryout_delivered_foods
ratio_of_family_income_to_poverty,,,,,
1.0,438.127983,27.823778,96.957049,84.648354,21.798500
2.0,413.110598,34.988188,98.418888,104.238878,23.816374
3.0,411.269747,39.649477,102.447661,138.119057,30.140364
4.0,419.703059,44.805656,102.490702,167.128701,34.108448
5.0,512.016685,60.499189,118.937181,269.241737,42.700404

,money_spent_at_supermarket_grocery_store,money_spent_on_nonfood_items,money_spent_on_food_at_other_stores,money_spent_on_eating_out,money_spent_on_carryout_delivered_foods
ratio_of_family_income_to_poverty,,,,,
1.0,400.0,0.0,20.0,40.0,0.0
2.0,400.0,0.0,30.0,70.0,0.0
3.0,400.0,0.0,40.0,100.0,0.0
4.0,400.0,16.5,50.0,120.0,0.0
5.0,428.0,30.0,50.0,200.0,14.0

,money_spent_at_supermarket_grocery_store,money_spent_on_nonfood_items,money_spent_on_food_at_other_stores,money_spent_on_eating_out,money_spent_on_carryout_delivered_foods
hh_ref_person_gender,,,,,
1,461.337167,46.407764,106.948368,168.032968,32.122528
2,422.695893,33.413936,103.562710,123.439347,26.179515

,money_spent_at_supermarket_grocery_store,money_spent_on_nonfood_items,money_spent_on_food_at_other_stores,money_spent_on_eating_out,money_spent_on_carryout_delivered_foods
hh_ref_person_gender,,,,,
1,400.0,0.0,40.0,100.0,0.0
2,400.0,0.0,30.0,75.0,0.0

,money_spent_at_supermarket_grocery_store,money_spent_on_nonfood_items,money_spent_on_food_at_other_stores,money_spent_on_eating_out,money_spent_on_carryout_delivered_foods
hh_ref_person_age,,,,,
1,354.198502,27.238636,95.130597,131.609023,35.526316
2,459.406439,35.801463,111.742987,148.331561,28.616807
3,488.171723,46.186366,119.620820,165.759550,34.503791
4,349.511299,38.196313,73.659256,113.504788,21.800810

,money_spent_at_supermarket_grocery_store,money_spent_on_nonfood_items,money_spent_on_food_at_other_stores,money_spent_on_eating_out,money_spent_on_carryout_delivered_foods
hh_ref_person_age,,,,,
1,300.0,0.0,50.0,70.0,10.0
2,400.0,0.0,40.0,100.0,0.0
3,428.0,0.0,50.0,100.0,0.0
4,300.0,5.0,11.5,50.0,0.0

,money_spent_at_supermarket_grocery_store,money_spent_on_nonfood_items,money_spent_on_food_at_other_stores,money_spent_on_eating_out,money_spent_on_carryout_delivered_foods
hh_ref_person_education_level,,,,,
1,457.206034,34.856339,104.838049,104.493536,20.676347
2,420.677714,38.889267,99.337290,135.889476,29.945455
3,463.080321,47.564529,120.596524,216.787558,35.921390
777777,152.000000,0.000000,0.000000,0.000000,5.000000
999999,452.772727,63.727273,58.409091,114.173913,32.166667

,money_spent_at_supermarket_grocery_store,money_spent_on_nonfood_items,money_spent_on_food_at_other_stores,money_spent_on_eating_out,money_spent_on_carryout_delivered_foods
hh_ref_person_education_level,,,,,
1,400.0,0.0,20.0,50.0,0.0
2,400.0,0.0,40.0,100.0,0.0
3,400.0,10.0,50.0,150.0,0.0
777777,152.0,0.0,0.0,0.0,5.0
999999,400.0,25.0,0.0,60.0,0.0

,money_spent_at_supermarket_grocery_store,money_spent_on_nonfood_items,money_spent_on_food_at_other_stores,money_spent_on_eating_out,money_spent_on_carryout_delivered_foods
hh_ref_person_marital_status,,,,,
1,494.773909,47.305687,120.489088,167.502721,30.596666
2,337.312883,28.037305,76.339006,100.517755,23.715430
3,357.242398,24.720721,76.938087,112.632334,29.788817
777777,388.275862,23.103448,37.424242,110.090909,42.727273
999999,452.000000,13.333333,0.000000,71.666667,30.333333

,money_spent_at_supermarket_grocery_store,money_spent_on_nonfood_items,money_spent_on_food_at_other_stores,money_spent_on_eating_out,money_spent_on_carryout_delivered_foods
hh_ref_person_marital_status,,,,,
1,428.0,0.0,50.0,100.0,0.0
2,300.0,0.0,15.0,50.0,0.0
3,300.0,0.0,30.0,60.0,0.0
777777,300.0,0.0,0.0,100.0,25.0
999999,428.0,0.0,0.0,85.0,20.0

,money_spent_at_supermarket_grocery_store,money_spent_on_nonfood_items,money_spent_on_food_at_other_stores,money_spent_on_eating_out,money_spent_on_carryout_delivered_foods
hh_ref_person_spouse_education_level,,,,,
1,519.630587,44.641252,119.130397,123.786972,24.262516
2,478.034448,48.283088,113.469765,158.574774,29.238298
3,540.408756,58.102295,138.242471,235.171540,38.842227
777777,NaN,NaN,0.000000,NaN,0.000000
999999,436.650000,30.750000,66.650000,63.684211,3.500000

,money_spent_at_supermarket_grocery_store,money_spent_on_nonfood_items,money_spent_on_food_at_other_stores,money_spent_on_eating_out,money_spent_on_carryout_delivered_foods
hh_ref_person_spouse_education_level,,,,,
1,428.0,0.0,26.0,72.5,0.0
2,428.0,0.0,42.0,100.0,0.0
3,450.0,30.0,71.0,192.0,0.0
777777,NaN,NaN,0.0,NaN,0.0
999999,375.0,12.5,37.5,0.0,0.0

In [27]:
for col in consumer_behaviour_cols_df.columns:
    print(len(consumer_behaviour_cols_df[col].loc[consumer_behaviour_cols_df[col] == 0]))

427
10408
7776
2883
11141

# <u>Loading</u> the data:

## Building the relational tables of the database:

In [ ]:
# Created a variable to hold the name for the primary key of each table:
primary_key_name = 'id'

# Created a dictionary to reference each table that is related to each survey's main results table; paired the codes
# with their respective labels:
data_release_cycle_table = {primary_key_name: [5, 10], 
                            'cycle': ['NHANES 2007-2008 public release',
                                      'NHANES 2017-2018 public release']}

six_month_time_period_table = {primary_key_name: [1, 2],
                               'period': ['November 1 through April 30',
                                          'May 1 through October 31']}

gender_table = {primary_key_name: [1, 2],
                'gender': ['Male',
                           'Female']}

age_groups_table = {primary_key_name: [1, 2, 3, 4],
                    'age_group': ['Children/Adolescents (0-19 years)',
                                  'Young adults (20-39 years)',
                                  'Middle age adults (40-59 years)',
                                  'Older adults (60+)']}

race_ethnic_origin_table = {primary_key_name: np.arange(1, 8),
                            'ethnicity': ['Mexican American',
                                          'Other Hispanic',
                                          'Non-Hispanic White',
                                          'Non-Hispanic Black',
                                          'Other Race-Including Non-Hispanic Asian',
                                          'Non-Hispanic Asian',
                                          'Other Race']}

served_in_the_us_armed_forces_table = {primary_key_name: [1, 2, 777777, 999999],
                                   'yes_no_scale': ['Yes',
                                                    'No',
                                                    'Refused',
                                                    "Don't know"]}

country_of_birth_table = {primary_key_name: [1, 3, 777777, 999999],
                          'country': ['Born in the US',
                                      'Born outside the US',
                                      'Refused',
                                      "Don't know"]}

citizenship_status_table = {primary_key_name: [1, 2, 777777, 999999],
                            'status': ['US Citizen',
                                       'Not a US citizen',
                                       'Refused',
                                       "Don't know"]}

education_level_children_youth_6_19_table = {primary_key_name: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15,
                                                                777777, 999999],
                                             'education_level': ['Never Attended/Kindergarten Only',
                                                                 '1st Grade',
                                                                 '2nd Grade',
                                                                 '3rd Grade',
                                                                 '4th Grade',
                                                                 '5th Grade',
                                                                 '6th Grade',
                                                                 '7th Grade',
                                                                 '8th Grade',
                                                                 '9th Grade',
                                                                 '10th Grade',
                                                                 '11th Grade',
                                                                 '12th Grade, No Diploma',
                                                                 'High School Graduate',
                                                                 'GED or Equivalent',
                                                                 'More than high school',
                                                                 'Refused',
                                                                 "Don't know"]}

education_level_adults_table = {primary_key_name: [1, 2, 3, 777777, 999999],
                                   'education_level': ['Less than high school degree',
                                                       'High school grad/GED or some college/AA degree',
                                                       'College graduate or above',
                                                       'Refused',
                                                       "Don't know"]}

marital_status_table = {primary_key_name: [1, 2, 3, 777777, 999999],
                        'marital_status': ['Married/Living with partner',
                                           'Widowed/Divorced/Separated',
                                           'Never married',
                                           'Refused',
                                           "Don't know"]}

total_number_of_people_table = {primary_key_name: [1, 2, 3, 4, 5, 6, 7],
                                'number_of_people': ['1 person',
                                                     '2 people',
                                                     '3 people',
                                                     '4 people',
                                                     '5 people',
                                                     '6 people',
                                                     '7 people or more']}

annual_income_table = {primary_key_name: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 14, 15, 777777, 999999],
                       'income': ['$0 to $4,999',
                                  '$5,000 to $9,999',
                                  '$10,000 to $14,999',
                                  '$15,000 to $19,999',
                                  '$20,000 to $24,999',
                                  '$25,000 to $34,999',
                                  '$35,000 to $44,999',
                                  '$45,000 to $54,999',
                                  '$55,000 to $64,999',
                                  '$65,000 to $74,999',
                                  '$75,000 to $99,999',
                                  '$100,000 and over',
                                  'Refused',
                                  "Don't know"]}

ratio_of_family_income_to_poverty_table = {primary_key_name: [1, 2, 3, 4, 5],
                                           'ratio': ['0.00 to 1.00',
                                                     '1.01 to 2.00',
                                                     '2.01 to 3.00', 
                                                     '3.01 to 4.00',
                                                     '4.01 and over']}