In [1]:
import pandas as pd
import os
import re

In [2]:
years={"_E":"_0708",
       "_J":"_1718"}

In [3]:
files_df=os.listdir("../sas")
files_df.remove("columnreader")
names_df=[]
for file in files_df:
    for key, value in years.items():
        file=file.replace(".XPT","").replace(key,value)
    names_df.append(file)
print(files_df)
print(names_df)

['DEMO_E.XPT', 'CBQ_E.XPT', 'CBQ_J.XPT', 'DEMO_J.XPT']
['DEMO_0708', 'CBQ_0708', 'CBQ_1718', 'DEMO_1718']

In [7]:
df={}
for name,file in zip(names_df,files_df):
    df[name]=pd.read_sas(f"../sas/{file}")
df["CBQ_0708"].head()

,SEQN,CBD010,CBQ020,CBQ030,CBQ040,CBQ050,CBQ060,CBD070,CBD090,CBD110,CBD120,CBD130,CBQ140,CBD150,CBD160,CBD170,CBD180,CBQ190
0,41475.0,1.0,1.0,1.0,4.0,1.0,4.0,320.0,4.000000e+01,8.000000e+01,45.0,5.397605e-79,2.0,5.0,7.0,120.0,7.0,7.0
1,41476.0,2.0,1.0,1.0,1.0,5.0,3.0,900.0,5.397605e-79,5.397605e-79,400.0,2.000000e+01,1.0,15.0,7.0,90.0,7.0,7.0
2,41477.0,2.0,1.0,1.0,1.0,1.0,1.0,400.0,8.000000e+01,6.000000e+01,40.0,5.397605e-79,3.0,20.0,6.0,45.0,21.0,21.0
3,41478.0,2.0,2.0,4.0,3.0,5.0,1.0,70.0,5.397605e-79,2.000000e+02,25.0,1.500000e+01,2.0,5.0,4.0,120.0,3.0,3.0
4,41479.0,2.0,1.0,1.0,3.0,5.0,3.0,550.0,5.397605e-79,5.397605e-79,150.0,5.000000e+01,3.0,15.0,7.0,60.0,7.0,7.0

In [8]:
files_col=os.listdir("../sas/columnreader")
texts_col={}
names_col=[]
for file in files_col:
    for key, value in years.items():
        file=file.replace(".txt","").replace(key,value)
    names_col.append(file)

if names_col!=names_df:
    print("SOMETHING'S WRONG")
else:
    print("Columns match the dataframes:")
    print(files_col)
    print(names_col)

SOMETHING'S WRONG

In [9]:
texts={}
for name,file in zip(names_col,files_col):
    with open(f"../sas/columnreader/{file}", "r") as f:
        texts[name]=f.read().split("\n")
texts[names_col[3]][0:5]

['SEQN - Respondent sequence number',
 'CBD071 - Money spent at supermarket/grocery store',
 'CBD091 - Money spent on nonfood items',
 'CBD111 - Money spent on food at other stores',
 'CBD121 - Money spent on eating out']

In [11]:
column_renamer={}
for name in names_col:
    text_list=texts[name]
    line_dict={}
    print(text_list)
    for line in text_list:
        split_line=re.findall("([A-z0-9]*) - ([#'A-z \/0-9\-?]*)",line)
        line_dict[split_line[0][0]]=split_line[0][1].replace(" - ","_").replace(" ","_").replace("-","_").replace("'s","").replace("/", "_").replace("?","").replace("#","Num")
    column_renamer[name]=line_dict
    
column_renamer[names_col[0]]

['SEQN - Respondent sequence number', 'CBD010 - Anyone in the family on a special diet', 'CBQ020 - Fruits available at home', 'CBQ030 - Dark green vegetables available at home', 'CBQ040 - Salty snacks available at home', 'CBQ050 - Fat-free/low fat milk available at home', 'CBQ060 - Soft drinks available at home', 'CBD070 - Money spent at supermarket/grocery store', 'CBD090 - Money spent on nonfood items', 'CBD110 - Money spent on food at other stores', 'CBD120 - Money spent on eating out', 'CBD130 - Money spent on carryout/delivered foods', 'CBQ140 - How often do you do major food shopping', 'CBD150 - Time to get to grocery store', 'CBD160 - # of times someone cooked dinner at home', 'CBD170 - Time spent cooking dinner/cleaning up', 'CBD180 - # of meals family ate together in 7 days', 'CBQ190 - # of meals ate together cooked at home']
['SEQN - Respondent sequence number', 'SDDSRVYR - Data Release Number', 'RIDSTATR - Interview/Examination Status', 'RIDEXMON - Six month time period', 'RIAGENDR - Gender', 'RIDAGEYR - Age at Screening Adjudicated - Recode', 'RIDAGEMN - Age in Months at Screening - Recode', 'RIDAGEEX - Age in Months at Exam - Recode', 'RIDRETH1 - Race/Ethnicity - Recode', 'DMQMILIT - Served in the US Armed Forces', 'DMDBORN2 - Country of Birth - Recode', 'DMDCITZN - Citizenship Status', 'DMDYRSUS - Length of time in US', 'DMDEDUC3 - Education Level - Children/Youth 6-19', 'DMDEDUC2 - Education Level - Adults 20+', 'DMDSCHOL - Now attending school?', 'DMDMARTL - Marital Status', 'DMDHHSIZ - Total number of people in the Household', 'DMDFMSIZ - Total number of people in the Family', 'INDHHIN2 - Annual Household Income', 'INDFMIN2 - Annual Family Income', 'INDFMPIR - Ratio of family income to poverty', 'RIDEXPRG - Pregnancy Status at Exam - Recode', 'DMDHRGND - HH Ref Person Gender', 'DMDHRAGE - HH Ref Person Age', 'DMDHRBR2 - HH Ref Person Country of Birth', 'DMDHREDU - HH Ref Person Education Level', 'DMDHRMAR - HH Ref Person Marital Status', "DMDHSEDU - HH Ref Person's Spouse Education Level", 'SIALANG - Language of SP Interview', 'SIAPROXY - Proxy used in SP Interview?', 'SIAINTRP - Interpreter used in SP Interview?', 'FIALANG - Language of Family Interview', 'FIAPROXY - Proxy used in Family Interview?', 'FIAINTRP - Interpreter used in Family Interview?', 'MIALANG - Language of MEC Interview', 'MIAPROXY - Proxy used in MEC Interview?', 'MIAINTRP - Interpreter used in MEC Interview?', 'AIALANG - Language of ACASI Interview', 'WTINT2YR - Full Sample 2 Year Interview Weight', 'WTMEC2YR - Full Sample 2 Year MEC Exam Weight', 'SDMVPSU - Masked Variance Pseudo-PSU', 'SDMVSTRA - Masked Variance Pseudo-Stratum']
['SEQN - Respondent sequence number', 'SDDSRVYR - Data release cycle', 'RIDSTATR - Interview/Examination status', 'RIAGENDR - Gender', 'RIDAGEYR - Age in years at screening', 'RIDAGEMN - Age in months at screening - 0 to 24 mos', 'RIDRETH1 - Race/Hispanic origin', 'RIDRETH3 - Race/Hispanic origin w/ NH Asian', 'RIDEXMON - Six month time period', 'RIDEXAGM - Age in months at exam - 0 to 19 years', 'DMQMILIZ - Served active duty in US Armed Forces', 'DMQADFC - Served in a foreign country', 'DMDBORN4 - Country of birth', 'DMDCITZN - Citizenship status', 'DMDYRSUS - Length of time in US', 'DMDEDUC3 - Education level - Children/Youth 6-19', 'DMDEDUC2 - Education level - Adults 20+', 'DMDMARTL - Marital status', 'RIDEXPRG - Pregnancy status at exam', 'SIALANG - Language of SP Interview', 'SIAPROXY - Proxy used in SP Interview?', 'SIAINTRP - Interpreter used in SP Interview?', 'FIALANG - Language of Family Interview', 'FIAPROXY - Proxy used in Family Interview?', 'FIAINTRP - Interpreter used in Family Interview?', 'MIALANG - Language of MEC Interview', 'MIAPROXY - Proxy used in MEC Interview?', 'MIAINTRP - Interpreter used in MEC Interview?', 'AIALANGA - Language of ACASI Interview', 'DMDHHSIZ - Total number of people in the Household', 'DMDFMSIZ - Total number of people in the Family', 'DMDHHSZA - # of children 5 years or younger in HH', 'DMDHHSZB - # of children 6-17 years old in HH', 'DMDHHSZE - # of adults 60 years or older in HH', "DMDHRGND - HH ref person's gender", "DMDHRAGZ - HH ref person's age in years", "DMDHREDZ - HH ref person's education level", "DMDHRMAZ - HH ref person's marital status", "DMDHSEDZ - HH ref person's spouse's education level", 'WTINT2YR - Full sample 2 year interview weight', 'WTMEC2YR - Full sample 2 year MEC exam weight', 'SDMVPSU - Masked variance pseudo-PSU', 'SDMVSTRA - Masked variance pseudo-stratum', 'INDHHIN2 - Annual household income', 'INDFMIN2 - Annual family income', 'INDFMPIR - Ratio of family income to poverty']
['SEQN - Respondent sequence number', 'CBD071 - Money spent at supermarket/grocery store', 'CBD091 - Money spent on nonfood items', 'CBD111 - Money spent on food at other stores', 'CBD121 - Money spent on eating out', 'CBD131 - Money spent on carryout/delivered foods']

{'SEQN': 'Respondent_sequence_number',
 'CBD010': 'Anyone_in_the_family_on_a_special_diet',
 'CBQ020': 'Fruits_available_at_home',
 'CBQ030': 'Dark_green_vegetables_available_at_home',
 'CBQ040': 'Salty_snacks_available_at_home',
 'CBQ050': 'Fat_free_low_fat_milk_available_at_home',
 'CBQ060': 'Soft_drinks_available_at_home',
 'CBD070': 'Money_spent_at_supermarket_grocery_store',
 'CBD090': 'Money_spent_on_nonfood_items',
 'CBD110': 'Money_spent_on_food_at_other_stores',
 'CBD120': 'Money_spent_on_eating_out',
 'CBD130': 'Money_spent_on_carryout_delivered_foods',
 'CBQ140': 'How_often_do_you_do_major_food_shopping',
 'CBD150': 'Time_to_get_to_grocery_store',
 'CBD160': 'Num_of_times_someone_cooked_dinner_at_home',
 'CBD170': 'Time_spent_cooking_dinner_cleaning_up',
 'CBD180': 'Num_of_meals_family_ate_together_in_7_days',
 'CBQ190': 'Num_of_meals_ate_together_cooked_at_home'}

In [12]:
for name in names_df:
    df[name]=df[name].rename(columns=column_renamer[name])
list(df[names_df[0]].columns)

['Respondent_sequence_number',
 'Data_Release_Number',
 'Interview_Examination_Status',
 'Six_month_time_period',
 'Gender',
 'Age_at_Screening_Adjudicated_Recode',
 'Age_in_Months_at_Screening_Recode',
 'Age_in_Months_at_Exam_Recode',
 'Race_Ethnicity_Recode',
 'Served_in_the_US_Armed_Forces',
 'Country_of_Birth_Recode',
 'Citizenship_Status',
 'Length_of_time_in_US',
 'Education_Level_Children_Youth_6_19',
 'Education_Level_Adults_20',
 'Now_attending_school',
 'Marital_Status',
 'Total_number_of_people_in_the_Household',
 'Total_number_of_people_in_the_Family',
 'Annual_Household_Income',
 'Annual_Family_Income',
 'Ratio_of_family_income_to_poverty',
 'Pregnancy_Status_at_Exam_Recode',
 'HH_Ref_Person_Gender',
 'HH_Ref_Person_Age',
 'HH_Ref_Person_Country_of_Birth',
 'HH_Ref_Person_Education_Level',
 'HH_Ref_Person_Marital_Status',
 'HH_Ref_Person_Spouse_Education_Level',
 'Language_of_SP_Interview',
 'Proxy_used_in_SP_Interview',
 'Interpreter_used_in_SP_Interview',
 'Language_of_Family_Interview',
 'Proxy_used_in_Family_Interview',
 'Interpreter_used_in_Family_Interview',
 'Language_of_MEC_Interview',
 'Proxy_used_in_MEC_Interview',
 'Interpreter_used_in_MEC_Interview',
 'Language_of_ACASI_Interview',
 'Full_Sample_2_Year_Interview_Weight',
 'Full_Sample_2_Year_MEC_Exam_Weight',
 'Masked_Variance_Pseudo_PSU',
 'Masked_Variance_Pseudo_Stratum']

In [13]:
merged_df={}
for key,value in years.items():
    year_tables=list(filter(lambda x:value in x,names_df))
    df_merge=df[year_tables[0]]
    for i,table in enumerate(year_tables):
        if i > 0:
            df_merge=df_merge.merge(df[table],on="Respondent_sequence_number",how="inner")
    merged_df[value]=df_merge
merged_df["_1718"]

,Respondent_sequence_number,Money_spent_at_supermarket_grocery_store,Money_spent_on_nonfood_items,Money_spent_on_food_at_other_stores,Money_spent_on_eating_out,Money_spent_on_carryout_delivered_foods,Data_release_cycle,Interview_Examination_status,Gender,Age_in_years_at_screening,...,HH_ref_person_education_level,HH_ref_person_marital_status,HH_ref_person_spouse_education_level,Full_sample_2_year_interview_weight,Full_sample_2_year_MEC_exam_weight,Masked_variance_pseudo_PSU,Masked_variance_pseudo_stratum,Annual_household_income,Annual_family_income,Ratio_of_family_income_to_poverty
0,93703.0,100.0,5.397605e-79,4.000000e+02,200.0,3.000000e+01,10.0,2.0,2.0,2.0,...,3.0,1.0,3.0,9246.491865,8539.731348,2.0,145.0,15.0,15.0,5.00
1,93704.0,900.0,3.000000e+01,5.397605e-79,50.0,2.500000e+01,10.0,2.0,1.0,2.0,...,3.0,1.0,2.0,37338.768343,42566.614750,1.0,143.0,15.0,15.0,5.00
2,93705.0,100.0,5.397605e-79,5.397605e-79,75.0,1.070000e+02,10.0,2.0,2.0,66.0,...,1.0,2.0,NaN,8614.571172,8338.419786,2.0,145.0,3.0,3.0,0.82
3,93706.0,NaN,NaN,NaN,NaN,NaN,10.0,2.0,1.0,18.0,...,3.0,1.0,2.0,8548.632619,8723.439814,2.0,134.0,NaN,NaN,NaN
4,93707.0,2142.0,2.000000e+02,6.000000e+01,200.0,1.000000e+02,10.0,2.0,1.0,13.0,...,2.0,1.0,3.0,6769.344567,7064.609730,1.0,138.0,10.0,10.0,1.88
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9249,102952.0,450.0,1.000000e+02,1.000000e+02,120.0,5.397605e-79,10.0,2.0,2.0,70.0,...,2.0,1.0,1.0,16896.276203,18338.711104,2.0,138.0,4.0,4.0,0.95
9250,102953.0,250.0,5.397605e-79,1.280000e+02,200.0,5.397605e-79,10.0,2.0,1.0,42.0,...,2.0,2.0,NaN,61630.380013,63661.951573,2.0,137.0,12.0,12.0,NaN
9251,102954.0,300.0,5.397605e-79,4.000000e+02,200.0,4.000000e+01,10.0,2.0,2.0,41.0,...,2.0,2.0,NaN,17160.895269,17694.783346,1.0,144.0,10.0,10.0,1.18
9252,102955.0,1200.0,5.000000e+01,5.000000e+01,100.0,4.000000e+01,10.0,2.0,2.0,14.0,...,2.0,1.0,2.0,14238.445922,14871.839636,1.0,136.0,9.0,9.0,2.24
9253,102956.0,1200.0,2.000000e+02,1.500000e+02,200.0,5.397605e-79,10.0,2.0,1.0,38.0,...,2.0,2.0,NaN,38645.740291,39426.299948,1.0,142.0,7.0,7.0,1.56

In [14]:
merged_df.keys()

dict_keys(['_0708', '_1718'])

for key in merged_df.keys():
    merged_df[key].to_csv(f"../Resources/table_export{key}.csv")

In [30]:
# Defined a variable for each df and printed the names of all the columns:
first_df = merged_df["_0708"]
second_df = merged_df["_1718"]
print(f"0708: {first_df.columns}")
print(f"1718: {second_df.columns}")

0708: Index(['Respondent_sequence_number', 'Data_Release_Number',
       'Interview_Examination_Status', 'Six_month_time_period', 'Gender',
       'Age_at_Screening_Adjudicated_Recode',
       'Age_in_Months_at_Screening_Recode', 'Age_in_Months_at_Exam_Recode',
       'Race_Ethnicity_Recode', 'Served_in_the_US_Armed_Forces',
       'Country_of_Birth_Recode', 'Citizenship_Status', 'Length_of_time_in_US',
       'Education_Level_Children_Youth_6_19', 'Education_Level_Adults_20',
       'Now_attending_school', 'Marital_Status',
       'Total_number_of_people_in_the_Household',
       'Total_number_of_people_in_the_Family', 'Annual_Household_Income',
       'Annual_Family_Income', 'Ratio_of_family_income_to_poverty',
       'Pregnancy_Status_at_Exam_Recode', 'HH_Ref_Person_Gender',
       'HH_Ref_Person_Age', 'HH_Ref_Person_Country_of_Birth',
       'HH_Ref_Person_Education_Level', 'HH_Ref_Person_Marital_Status',
       'HH_Ref_Person_Spouse_Education_Level', 'Language_of_SP_Interview',
       'Proxy_used_in_SP_Interview', 'Interpreter_used_in_SP_Interview',
       'Language_of_Family_Interview', 'Proxy_used_in_Family_Interview',
       'Interpreter_used_in_Family_Interview', 'Language_of_MEC_Interview',
       'Proxy_used_in_MEC_Interview', 'Interpreter_used_in_MEC_Interview',
       'Language_of_ACASI_Interview', 'Full_Sample_2_Year_Interview_Weight',
       'Full_Sample_2_Year_MEC_Exam_Weight', 'Masked_Variance_Pseudo_PSU',
       'Masked_Variance_Pseudo_Stratum',
       'Anyone_in_the_family_on_a_special_diet', 'Fruits_available_at_home',
       'Dark_green_vegetables_available_at_home',
       'Salty_snacks_available_at_home',
       'Fat_free_low_fat_milk_available_at_home',
       'Soft_drinks_available_at_home',
       'Money_spent_at_supermarket_grocery_store',
       'Money_spent_on_nonfood_items', 'Money_spent_on_food_at_other_stores',
       'Money_spent_on_eating_out', 'Money_spent_on_carryout_delivered_foods',
       'How_often_do_you_do_major_food_shopping',
       'Time_to_get_to_grocery_store',
       'Num_of_times_someone_cooked_dinner_at_home',
       'Time_spent_cooking_dinner_cleaning_up',
       'Num_of_meals_family_ate_together_in_7_days',
       'Num_of_meals_ate_together_cooked_at_home'],
      dtype='object')
1718: Index(['Respondent_sequence_number',
       'Money_spent_at_supermarket_grocery_store',
       'Money_spent_on_nonfood_items', 'Money_spent_on_food_at_other_stores',
       'Money_spent_on_eating_out', 'Money_spent_on_carryout_delivered_foods',
       'Data_release_cycle', 'Interview_Examination_status', 'Gender',
       'Age_in_years_at_screening', 'Age_in_months_at_screening_0_to_24_mos',
       'Race_Hispanic_origin', 'Race_Hispanic_origin_w__NH_Asian',
       'Six_month_time_period', 'Age_in_months_at_exam_0_to_19_years',
       'Served_active_duty_in_US_Armed_Forces', 'Served_in_a_foreign_country',
       'Country_of_birth', 'Citizenship_status', 'Length_of_time_in_US',
       'Education_level_Children_Youth_6_19', 'Education_level_Adults_20',
       'Marital_status', 'Pregnancy_status_at_exam',
       'Language_of_SP_Interview', 'Proxy_used_in_SP_Interview',
       'Interpreter_used_in_SP_Interview', 'Language_of_Family_Interview',
       'Proxy_used_in_Family_Interview',
       'Interpreter_used_in_Family_Interview', 'Language_of_MEC_Interview',
       'Proxy_used_in_MEC_Interview', 'Interpreter_used_in_MEC_Interview',
       'Language_of_ACASI_Interview',
       'Total_number_of_people_in_the_Household',
       'Total_number_of_people_in_the_Family',
       'Num_of_children_5_years_or_younger_in_HH',
       'Num_of_children_6_17_years_old_in_HH',
       'Num_of_adults_60_years_or_older_in_HH', 'HH_ref_person_gender',
       'HH_ref_person_age_in_years', 'HH_ref_person_education_level',
       'HH_ref_person_marital_status', 'HH_ref_person_spouse_education_level',
       'Full_sample_2_year_interview_weight',
       'Full_sample_2_year_MEC_exam_weight', 'Masked_variance_pseudo_PSU',
       'Masked_variance_pseudo_stratum', 'Annual_household_income',
       'Annual_family_income', 'Ratio_of_family_income_to_poverty'],
      dtype='object')

In [31]:
# Created a new df for 0708 by filtering the 32 columns that we will be using:
filtered_first_df = first_df[['Respondent_sequence_number',
                              'Data_Release_Number',
                              'Interview_Examination_Status',
                              'Six_month_time_period',
                              'Gender',
                              'Age_at_Screening_Adjudicated_Recode',
                              'Race_Ethnicity_Recode',
                              'Served_in_the_US_Armed_Forces',
                              'Country_of_Birth_Recode',
                              'Citizenship_Status',
                              'Education_Level_Children_Youth_6_19',
                              'Education_Level_Adults_20',
                              'Marital_Status',
                              'Total_number_of_people_in_the_Household',
                              'Total_number_of_people_in_the_Family',
                              'Annual_Household_Income',
                              'Annual_Family_Income',
                              'Ratio_of_family_income_to_poverty',
                              'HH_Ref_Person_Gender',
                              'HH_Ref_Person_Age',
                              'HH_Ref_Person_Education_Level',
                              'HH_Ref_Person_Marital_Status',
                              'HH_Ref_Person_Spouse_Education_Level',
                              'Full_Sample_2_Year_Interview_Weight',
                              'Full_Sample_2_Year_MEC_Exam_Weight',
                              'Masked_Variance_Pseudo_PSU',
                              'Masked_Variance_Pseudo_Stratum',
                              'Money_spent_at_supermarket_grocery_store',
                              'Money_spent_on_nonfood_items',
                              'Money_spent_on_food_at_other_stores',
                              'Money_spent_on_eating_out',
                              'Money_spent_on_carryout_delivered_foods']]
pd.set_option('display.max_columns', None)
filtered_first_df

,Respondent_sequence_number,Data_Release_Number,Interview_Examination_Status,Six_month_time_period,Gender,Age_at_Screening_Adjudicated_Recode,Race_Ethnicity_Recode,Served_in_the_US_Armed_Forces,Country_of_Birth_Recode,Citizenship_Status,Education_Level_Children_Youth_6_19,Education_Level_Adults_20,Marital_Status,Total_number_of_people_in_the_Household,Total_number_of_people_in_the_Family,Annual_Household_Income,Annual_Family_Income,Ratio_of_family_income_to_poverty,HH_Ref_Person_Gender,HH_Ref_Person_Age,HH_Ref_Person_Education_Level,HH_Ref_Person_Marital_Status,HH_Ref_Person_Spouse_Education_Level,Full_Sample_2_Year_Interview_Weight,Full_Sample_2_Year_MEC_Exam_Weight,Masked_Variance_Pseudo_PSU,Masked_Variance_Pseudo_Stratum,Money_spent_at_supermarket_grocery_store,Money_spent_on_nonfood_items,Money_spent_on_food_at_other_stores,Money_spent_on_eating_out,Money_spent_on_carryout_delivered_foods
0,41475.0,5.0,2.0,2.0,2.0,62.0,5.0,2.0,1.0,1.0,NaN,3.0,1.0,2.0,2.0,6.0,6.0,1.83,1.0,64.0,4.0,1.0,3.0,59356.356426,60045.772497,1.0,60.0,320.0,4.000000e+01,8.000000e+01,4.500000e+01,5.397605e-79
1,41476.0,5.0,2.0,1.0,2.0,6.0,5.0,NaN,1.0,1.0,5.397605e-79,NaN,NaN,6.0,6.0,15.0,15.0,5.00,1.0,51.0,5.0,1.0,5.0,35057.218405,35353.210440,1.0,70.0,900.0,5.397605e-79,5.397605e-79,4.000000e+02,2.000000e+01
2,41477.0,5.0,2.0,2.0,1.0,71.0,3.0,1.0,1.0,1.0,NaN,3.0,1.0,2.0,2.0,5.0,5.0,1.50,1.0,71.0,3.0,1.0,4.0,9935.266183,10074.150074,1.0,67.0,400.0,8.000000e+01,6.000000e+01,4.000000e+01,5.397605e-79
3,41478.0,5.0,2.0,2.0,2.0,1.0,3.0,NaN,1.0,1.0,NaN,NaN,NaN,4.0,4.0,3.0,3.0,0.66,2.0,25.0,2.0,1.0,3.0,12846.712058,14560.472652,2.0,59.0,70.0,5.397605e-79,2.000000e+02,2.500000e+01,1.500000e+01
4,41479.0,5.0,2.0,1.0,1.0,52.0,1.0,2.0,2.0,1.0,NaN,1.0,1.0,5.0,5.0,8.0,8.0,2.20,1.0,52.0,1.0,1.0,3.0,8727.797555,9234.055759,1.0,70.0,550.0,5.397605e-79,5.397605e-79,1.500000e+02,5.000000e+01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10144,51619.0,5.0,2.0,1.0,1.0,61.0,1.0,2.0,2.0,1.0,NaN,1.0,1.0,7.0,7.0,14.0,14.0,2.75,2.0,39.0,3.0,1.0,3.0,5197.083889,5390.204907,2.0,71.0,350.0,5.397605e-79,9.000000e+01,1.000000e+02,4.400000e+01
10145,51620.0,5.0,2.0,2.0,2.0,50.0,3.0,2.0,1.0,1.0,NaN,2.0,1.0,2.0,2.0,6.0,6.0,2.48,1.0,51.0,2.0,1.0,2.0,27909.120820,27820.477422,1.0,67.0,200.0,5.397605e-79,5.397605e-79,2.000000e+01,5.397605e-79
10146,51621.0,5.0,2.0,1.0,1.0,17.0,2.0,2.0,4.0,2.0,9.000000e+00,NaN,NaN,7.0,5.0,9.0,12.0,NaN,1.0,40.0,NaN,1.0,NaN,11057.659484,11298.321052,1.0,73.0,428.0,5.397605e-79,1.000000e+02,5.397605e-79,5.397605e-79
10147,51622.0,5.0,2.0,1.0,2.0,60.0,4.0,2.0,5.0,2.0,NaN,1.0,2.0,6.0,6.0,14.0,14.0,2.90,1.0,40.0,NaN,1.0,5.0,9842.672903,10339.755423,1.0,73.0,1071.0,5.397605e-79,5.397605e-79,4.000000e+01,5.397605e-79
10148,51623.0,5.0,2.0,2.0,1.0,72.0,3.0,2.0,5.0,1.0,NaN,1.0,2.0,2.0,2.0,3.0,3.0,0.95,1.0,72.0,1.0,2.0,NaN,24692.989537,27499.342780,1.0,62.0,857.0,1.280000e+02,5.397605e-79,5.397605e-79,5.397605e-79

In [36]:
# Created a new df for 1718 by filtering the 32 columns that we will be using:
filtered_second_df = second_df[['Respondent_sequence_number',
                                'Data_release_cycle',
                                'Interview_Examination_status',
                                'Six_month_time_period',
                                'Gender',
                                'Age_in_years_at_screening',
                                'Race_Hispanic_origin_w__NH_Asian',
                                'Served_active_duty_in_US_Armed_Forces',
                                'Country_of_birth',
                                'Citizenship_status',
                                'Education_level_Children_Youth_6_19',
                                'Education_level_Adults_20',
                                'Marital_status',
                                'Total_number_of_people_in_the_Household',
                                'Total_number_of_people_in_the_Family',
                                'Annual_household_income',
                                'Annual_family_income',
                                'Ratio_of_family_income_to_poverty',
                                'HH_ref_person_gender',
                                'HH_ref_person_age_in_years',
                                'HH_ref_person_education_level',
                                'HH_ref_person_marital_status',
                                'HH_ref_person_spouse_education_level',
                                'Full_sample_2_year_interview_weight',
                                'Full_sample_2_year_MEC_exam_weight',
                                'Masked_variance_pseudo_PSU',
                                'Masked_variance_pseudo_stratum',
                                'Money_spent_at_supermarket_grocery_store',
                                'Money_spent_on_nonfood_items',
                                'Money_spent_on_food_at_other_stores',
                                'Money_spent_on_eating_out',
                                'Money_spent_on_carryout_delivered_foods']]

# Displayed both dfs on top of each other to compare them:
display(filtered_first_df)
display(filtered_second_df)

,Respondent_sequence_number,Data_Release_Number,Interview_Examination_Status,Six_month_time_period,Gender,Age_at_Screening_Adjudicated_Recode,Race_Ethnicity_Recode,Served_in_the_US_Armed_Forces,Country_of_Birth_Recode,Citizenship_Status,Education_Level_Children_Youth_6_19,Education_Level_Adults_20,Marital_Status,Total_number_of_people_in_the_Household,Total_number_of_people_in_the_Family,Annual_Household_Income,Annual_Family_Income,Ratio_of_family_income_to_poverty,HH_Ref_Person_Gender,HH_Ref_Person_Age,HH_Ref_Person_Education_Level,HH_Ref_Person_Marital_Status,HH_Ref_Person_Spouse_Education_Level,Full_Sample_2_Year_Interview_Weight,Full_Sample_2_Year_MEC_Exam_Weight,Masked_Variance_Pseudo_PSU,Masked_Variance_Pseudo_Stratum,Money_spent_at_supermarket_grocery_store,Money_spent_on_nonfood_items,Money_spent_on_food_at_other_stores,Money_spent_on_eating_out,Money_spent_on_carryout_delivered_foods
0,41475.0,5.0,2.0,2.0,2.0,62.0,5.0,2.0,1.0,1.0,NaN,3.0,1.0,2.0,2.0,6.0,6.0,1.83,1.0,64.0,4.0,1.0,3.0,59356.356426,60045.772497,1.0,60.0,320.0,4.000000e+01,8.000000e+01,4.500000e+01,5.397605e-79
1,41476.0,5.0,2.0,1.0,2.0,6.0,5.0,NaN,1.0,1.0,5.397605e-79,NaN,NaN,6.0,6.0,15.0,15.0,5.00,1.0,51.0,5.0,1.0,5.0,35057.218405,35353.210440,1.0,70.0,900.0,5.397605e-79,5.397605e-79,4.000000e+02,2.000000e+01
2,41477.0,5.0,2.0,2.0,1.0,71.0,3.0,1.0,1.0,1.0,NaN,3.0,1.0,2.0,2.0,5.0,5.0,1.50,1.0,71.0,3.0,1.0,4.0,9935.266183,10074.150074,1.0,67.0,400.0,8.000000e+01,6.000000e+01,4.000000e+01,5.397605e-79
3,41478.0,5.0,2.0,2.0,2.0,1.0,3.0,NaN,1.0,1.0,NaN,NaN,NaN,4.0,4.0,3.0,3.0,0.66,2.0,25.0,2.0,1.0,3.0,12846.712058,14560.472652,2.0,59.0,70.0,5.397605e-79,2.000000e+02,2.500000e+01,1.500000e+01
4,41479.0,5.0,2.0,1.0,1.0,52.0,1.0,2.0,2.0,1.0,NaN,1.0,1.0,5.0,5.0,8.0,8.0,2.20,1.0,52.0,1.0,1.0,3.0,8727.797555,9234.055759,1.0,70.0,550.0,5.397605e-79,5.397605e-79,1.500000e+02,5.000000e+01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10144,51619.0,5.0,2.0,1.0,1.0,61.0,1.0,2.0,2.0,1.0,NaN,1.0,1.0,7.0,7.0,14.0,14.0,2.75,2.0,39.0,3.0,1.0,3.0,5197.083889,5390.204907,2.0,71.0,350.0,5.397605e-79,9.000000e+01,1.000000e+02,4.400000e+01
10145,51620.0,5.0,2.0,2.0,2.0,50.0,3.0,2.0,1.0,1.0,NaN,2.0,1.0,2.0,2.0,6.0,6.0,2.48,1.0,51.0,2.0,1.0,2.0,27909.120820,27820.477422,1.0,67.0,200.0,5.397605e-79,5.397605e-79,2.000000e+01,5.397605e-79
10146,51621.0,5.0,2.0,1.0,1.0,17.0,2.0,2.0,4.0,2.0,9.000000e+00,NaN,NaN,7.0,5.0,9.0,12.0,NaN,1.0,40.0,NaN,1.0,NaN,11057.659484,11298.321052,1.0,73.0,428.0,5.397605e-79,1.000000e+02,5.397605e-79,5.397605e-79
10147,51622.0,5.0,2.0,1.0,2.0,60.0,4.0,2.0,5.0,2.0,NaN,1.0,2.0,6.0,6.0,14.0,14.0,2.90,1.0,40.0,NaN,1.0,5.0,9842.672903,10339.755423,1.0,73.0,1071.0,5.397605e-79,5.397605e-79,4.000000e+01,5.397605e-79
10148,51623.0,5.0,2.0,2.0,1.0,72.0,3.0,2.0,5.0,1.0,NaN,1.0,2.0,2.0,2.0,3.0,3.0,0.95,1.0,72.0,1.0,2.0,NaN,24692.989537,27499.342780,1.0,62.0,857.0,1.280000e+02,5.397605e-79,5.397605e-79,5.397605e-79

,Respondent_sequence_number,Data_release_cycle,Interview_Examination_status,Six_month_time_period,Gender,Age_in_years_at_screening,Race_Hispanic_origin_w__NH_Asian,Served_active_duty_in_US_Armed_Forces,Country_of_birth,Citizenship_status,Education_level_Children_Youth_6_19,Education_level_Adults_20,Marital_status,Total_number_of_people_in_the_Household,Total_number_of_people_in_the_Family,Annual_household_income,Annual_family_income,Ratio_of_family_income_to_poverty,HH_ref_person_gender,HH_ref_person_age_in_years,HH_ref_person_education_level,HH_ref_person_marital_status,HH_ref_person_spouse_education_level,Full_sample_2_year_interview_weight,Full_sample_2_year_MEC_exam_weight,Masked_variance_pseudo_PSU,Masked_variance_pseudo_stratum,Money_spent_at_supermarket_grocery_store,Money_spent_on_nonfood_items,Money_spent_on_food_at_other_stores,Money_spent_on_eating_out,Money_spent_on_carryout_delivered_foods
0,93703.0,10.0,2.0,2.0,2.0,2.0,6.0,NaN,1.0,1.0,NaN,NaN,NaN,5.0,5.0,15.0,15.0,5.00,1.0,2.0,3.0,1.0,3.0,9246.491865,8539.731348,2.0,145.0,100.0,5.397605e-79,4.000000e+02,200.0,3.000000e+01
1,93704.0,10.0,2.0,1.0,1.0,2.0,3.0,NaN,1.0,1.0,NaN,NaN,NaN,4.0,4.0,15.0,15.0,5.00,1.0,2.0,3.0,1.0,2.0,37338.768343,42566.614750,1.0,143.0,900.0,3.000000e+01,5.397605e-79,50.0,2.500000e+01
2,93705.0,10.0,2.0,2.0,2.0,66.0,4.0,2.0,1.0,1.0,NaN,2.0,3.0,1.0,1.0,3.0,3.0,0.82,2.0,4.0,1.0,2.0,NaN,8614.571172,8338.419786,2.0,145.0,100.0,5.397605e-79,5.397605e-79,75.0,1.070000e+02
3,93706.0,10.0,2.0,2.0,1.0,18.0,6.0,2.0,1.0,1.0,15.0,NaN,NaN,5.0,5.0,NaN,NaN,NaN,1.0,4.0,3.0,1.0,2.0,8548.632619,8723.439814,2.0,134.0,NaN,NaN,NaN,NaN,NaN
4,93707.0,10.0,2.0,2.0,1.0,13.0,7.0,NaN,1.0,1.0,6.0,NaN,NaN,7.0,7.0,10.0,10.0,1.88,1.0,3.0,2.0,1.0,3.0,6769.344567,7064.609730,1.0,138.0,2142.0,2.000000e+02,6.000000e+01,200.0,1.000000e+02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9249,102952.0,10.0,2.0,2.0,2.0,70.0,6.0,2.0,2.0,1.0,NaN,3.0,1.0,2.0,2.0,4.0,4.0,0.95,2.0,4.0,2.0,1.0,1.0,16896.276203,18338.711104,2.0,138.0,450.0,1.000000e+02,1.000000e+02,120.0,5.397605e-79
9250,102953.0,10.0,2.0,2.0,1.0,42.0,1.0,2.0,2.0,2.0,NaN,3.0,4.0,1.0,1.0,12.0,12.0,NaN,1.0,3.0,2.0,2.0,NaN,61630.380013,63661.951573,2.0,137.0,250.0,5.397605e-79,1.280000e+02,200.0,5.397605e-79
9251,102954.0,10.0,2.0,1.0,2.0,41.0,4.0,2.0,1.0,1.0,NaN,5.0,5.0,7.0,7.0,10.0,10.0,1.18,2.0,3.0,2.0,2.0,NaN,17160.895269,17694.783346,1.0,144.0,300.0,5.397605e-79,4.000000e+02,200.0,4.000000e+01
9252,102955.0,10.0,2.0,2.0,2.0,14.0,4.0,NaN,1.0,1.0,8.0,NaN,NaN,4.0,4.0,9.0,9.0,2.24,2.0,3.0,2.0,1.0,2.0,14238.445922,14871.839636,1.0,136.0,1200.0,5.000000e+01,5.000000e+01,100.0,4.000000e+01
9253,102956.0,10.0,2.0,2.0,1.0,38.0,3.0,2.0,1.0,1.0,NaN,4.0,3.0,5.0,4.0,7.0,7.0,1.56,1.0,2.0,2.0,2.0,NaN,38645.740291,39426.299948,1.0,142.0,1200.0,2.000000e+02,1.500000e+02,200.0,5.397605e-79

In [29]:
# I was developing this code to see what columns matched and which ones didn't in both dfs, but I didn't finish it;
# what it does now is display only the columns that match in both dfs.
columns_first_df = pd.DataFrame({"listed_columns": first_df.columns.values.tolist()})
columns_second_df = pd.DataFrame({"listed_columns": second_df.columns.values.tolist()})
checker = columns_first_df.listed_columns.isin(columns_second_df.listed_columns.unique())
columns_first_df[checker]

                              listed_columns
0                 Respondent_sequence_number
3                      Six_month_time_period
4                                     Gender
12                      Length_of_time_in_US
17   Total_number_of_people_in_the_Household
18      Total_number_of_people_in_the_Family
21         Ratio_of_family_income_to_poverty
29                  Language_of_SP_Interview
30                Proxy_used_in_SP_Interview
31          Interpreter_used_in_SP_Interview
32              Language_of_Family_Interview
33            Proxy_used_in_Family_Interview
34      Interpreter_used_in_Family_Interview
35                 Language_of_MEC_Interview
36               Proxy_used_in_MEC_Interview
37         Interpreter_used_in_MEC_Interview
38               Language_of_ACASI_Interview
49  Money_spent_at_supermarket_grocery_store
50              Money_spent_on_nonfood_items
51       Money_spent_on_food_at_other_stores
52                 Money_spent_on_eating_out
53   Money_spent_on_carryout_delivered_foods