In [1]:
import pandas as pd
import os
import re

In [2]:
years={"_E":"_0708",
       "_J":"_1718"}

In [3]:
files_df=os.listdir("../sas")
files_df.remove("columnreader")
names_df=[]
for file in files_df:
    for key, value in years.items():
        file=file.replace(".XPT","").replace(key,value)
    names_df.append(file)
print(files_df)
print(names_df)

['CBQ_E.XPT', 'CBQ_J.XPT', 'DEMO_E.XPT', 'DEMO_J.XPT']
['CBQ_0708', 'CBQ_1718', 'DEMO_0708', 'DEMO_1718']

In [4]:
df={}
for name,file in zip(names_df,files_df):
    df[name]=pd.read_sas(f"../sas/{file}")
df["CBQ_0708"].head()

,SEQN,CBD010,CBQ020,CBQ030,CBQ040,CBQ050,CBQ060,CBD070,CBD090,CBD110,CBD120,CBD130,CBQ140,CBD150,CBD160,CBD170,CBD180,CBQ190
0,41475.0,1.0,1.0,1.0,4.0,1.0,4.0,320.0,4.000000e+01,8.000000e+01,45.0,5.397605e-79,2.0,5.0,7.0,120.0,7.0,7.0
1,41476.0,2.0,1.0,1.0,1.0,5.0,3.0,900.0,5.397605e-79,5.397605e-79,400.0,2.000000e+01,1.0,15.0,7.0,90.0,7.0,7.0
2,41477.0,2.0,1.0,1.0,1.0,1.0,1.0,400.0,8.000000e+01,6.000000e+01,40.0,5.397605e-79,3.0,20.0,6.0,45.0,21.0,21.0
3,41478.0,2.0,2.0,4.0,3.0,5.0,1.0,70.0,5.397605e-79,2.000000e+02,25.0,1.500000e+01,2.0,5.0,4.0,120.0,3.0,3.0
4,41479.0,2.0,1.0,1.0,3.0,5.0,3.0,550.0,5.397605e-79,5.397605e-79,150.0,5.000000e+01,3.0,15.0,7.0,60.0,7.0,7.0

In [5]:
files_col=os.listdir("../sas/columnreader")
texts_col={}
names_col=[]
for file in files_col:
    for key, value in years.items():
        file=file.replace(".txt","").replace(key,value)
    names_col.append(file)

if names_col!=names_df:
    print("SOMETHING'S WRONG")
else:
    print("Columns match the dataframes:")
    print(files_col)
    print(names_col)

Columns match the dataframes:
['CBQ_E.txt', 'CBQ_J.txt', 'DEMO_E.txt', 'DEMO_J.txt']
['CBQ_0708', 'CBQ_1718', 'DEMO_0708', 'DEMO_1718']

In [6]:
texts={}
for name,file in zip(names_col,files_col):
    with open(f"../sas/columnreader/{file}", "r") as f:
        texts[name]=f.read().split("\n")
texts[names_col[3]][0:5]

['SEQN - Respondent sequence number',
 'SDDSRVYR - Data release cycle',
 'RIDSTATR - Interview/Examination status',
 'RIAGENDR - Gender',
 'RIDAGEYR - Age in years at screening']

In [7]:
column_renamer={}
for name in names_col:
    text_list=texts[name]
    line_dict={}
    print(text_list)
    for line in text_list:
        split_line=re.findall("([A-z0-9]*) - ([#'A-z \/0-9\-?]*)",line)
        line_dict[split_line[0][0]]=split_line[0][1].replace(" - ","_").replace(" ","_").replace("-","_").replace("'s","")
    column_renamer[name]=line_dict
    
column_renamer[names_col[0]]

['SEQN - Respondent sequence number', 'CBD010 - Anyone in the family on a special diet', 'CBQ020 - Fruits available at home', 'CBQ030 - Dark green vegetables available at home', 'CBQ040 - Salty snacks available at home', 'CBQ050 - Fat-free/low fat milk available at home', 'CBQ060 - Soft drinks available at home', 'CBD070 - Money spent at supermarket/grocery store', 'CBD090 - Money spent on nonfood items', 'CBD110 - Money spent on food at other stores', 'CBD120 - Money spent on eating out', 'CBD130 - Money spent on carryout/delivered foods', 'CBQ140 - How often do you do major food shopping', 'CBD150 - Time to get to grocery store', 'CBD160 - # of times someone cooked dinner at home', 'CBD170 - Time spent cooking dinner/cleaning up', 'CBD180 - # of meals family ate together in 7 days', 'CBQ190 - # of meals ate together cooked at home']
['SEQN - Respondent sequence number', 'CBD071 - Money spent at supermarket/grocery store', 'CBD091 - Money spent on nonfood items', 'CBD111 - Money spent on food at other stores', 'CBD121 - Money spent on eating out', 'CBD131 - Money spent on carryout/delivered foods']
['SEQN - Respondent sequence number', 'SDDSRVYR - Data Release Number', 'RIDSTATR - Interview/Examination Status', 'RIDEXMON - Six month time period', 'RIAGENDR - Gender', 'RIDAGEYR - Age at Screening Adjudicated - Recode', 'RIDAGEMN - Age in Months at Screening - Recode', 'RIDAGEEX - Age in Months at Exam - Recode', 'RIDRETH1 - Race/Ethnicity - Recode', 'DMQMILIT - Served in the US Armed Forces', 'DMDBORN2 - Country of Birth - Recode', 'DMDCITZN - Citizenship Status', 'DMDYRSUS - Length of time in US', 'DMDEDUC3 - Education Level - Children/Youth 6-19', 'DMDEDUC2 - Education Level - Adults 20+', 'DMDSCHOL - Now attending school?', 'DMDMARTL - Marital Status', 'DMDHHSIZ - Total number of people in the Household', 'DMDFMSIZ - Total number of people in the Family', 'INDHHIN2 - Annual Household Income', 'INDFMIN2 - Annual Family Income', 'INDFMPIR - Ratio of family income to poverty', 'RIDEXPRG - Pregnancy Status at Exam - Recode', 'DMDHRGND - HH Ref Person Gender', 'DMDHRAGE - HH Ref Person Age', 'DMDHRBR2 - HH Ref Person Country of Birth', 'DMDHREDU - HH Ref Person Education Level', 'DMDHRMAR - HH Ref Person Marital Status', "DMDHSEDU - HH Ref Person's Spouse Education Level", 'SIALANG - Language of SP Interview', 'SIAPROXY - Proxy used in SP Interview?', 'SIAINTRP - Interpreter used in SP Interview?', 'FIALANG - Language of Family Interview', 'FIAPROXY - Proxy used in Family Interview?', 'FIAINTRP - Interpreter used in Family Interview?', 'MIALANG - Language of MEC Interview', 'MIAPROXY - Proxy used in MEC Interview?', 'MIAINTRP - Interpreter used in MEC Interview?', 'AIALANG - Language of ACASI Interview', 'WTINT2YR - Full Sample 2 Year Interview Weight', 'WTMEC2YR - Full Sample 2 Year MEC Exam Weight', 'SDMVPSU - Masked Variance Pseudo-PSU', 'SDMVSTRA - Masked Variance Pseudo-Stratum']
['SEQN - Respondent sequence number', 'SDDSRVYR - Data release cycle', 'RIDSTATR - Interview/Examination status', 'RIAGENDR - Gender', 'RIDAGEYR - Age in years at screening', 'RIDAGEMN - Age in months at screening - 0 to 24 mos', 'RIDRETH1 - Race/Hispanic origin', 'RIDRETH3 - Race/Hispanic origin w/ NH Asian', 'RIDEXMON - Six month time period', 'RIDEXAGM - Age in months at exam - 0 to 19 years', 'DMQMILIZ - Served active duty in US Armed Forces', 'DMQADFC - Served in a foreign country', 'DMDBORN4 - Country of birth', 'DMDCITZN - Citizenship status', 'DMDYRSUS - Length of time in US', 'DMDEDUC3 - Education level - Children/Youth 6-19', 'DMDEDUC2 - Education level - Adults 20+', 'DMDMARTL - Marital status', 'RIDEXPRG - Pregnancy status at exam', 'SIALANG - Language of SP Interview', 'SIAPROXY - Proxy used in SP Interview?', 'SIAINTRP - Interpreter used in SP Interview?', 'FIALANG - Language of Family Interview', 'FIAPROXY - Proxy used in Family Interview?', 'FIAINTRP - Interpreter used in Family Interview?', 'MIALANG - Language of MEC Interview', 'MIAPROXY - Proxy used in MEC Interview?', 'MIAINTRP - Interpreter used in MEC Interview?', 'AIALANGA - Language of ACASI Interview', 'DMDHHSIZ - Total number of people in the Household', 'DMDFMSIZ - Total number of people in the Family', 'DMDHHSZA - # of children 5 years or younger in HH', 'DMDHHSZB - # of children 6-17 years old in HH', 'DMDHHSZE - # of adults 60 years or older in HH', "DMDHRGND - HH ref person's gender", "DMDHRAGZ - HH ref person's age in years", "DMDHREDZ - HH ref person's education level", "DMDHRMAZ - HH ref person's marital status", "DMDHSEDZ - HH ref person's spouse's education level", 'WTINT2YR - Full sample 2 year interview weight', 'WTMEC2YR - Full sample 2 year MEC exam weight', 'SDMVPSU - Masked variance pseudo-PSU', 'SDMVSTRA - Masked variance pseudo-stratum', 'INDHHIN2 - Annual household income', 'INDFMIN2 - Annual family income', 'INDFMPIR - Ratio of family income to poverty']

{'SEQN': 'Respondent_sequence_number',
 'CBD010': 'Anyone_in_the_family_on_a_special_diet',
 'CBQ020': 'Fruits_available_at_home',
 'CBQ030': 'Dark_green_vegetables_available_at_home',
 'CBQ040': 'Salty_snacks_available_at_home',
 'CBQ050': 'Fat_free/low_fat_milk_available_at_home',
 'CBQ060': 'Soft_drinks_available_at_home',
 'CBD070': 'Money_spent_at_supermarket/grocery_store',
 'CBD090': 'Money_spent_on_nonfood_items',
 'CBD110': 'Money_spent_on_food_at_other_stores',
 'CBD120': 'Money_spent_on_eating_out',
 'CBD130': 'Money_spent_on_carryout/delivered_foods',
 'CBQ140': 'How_often_do_you_do_major_food_shopping',
 'CBD150': 'Time_to_get_to_grocery_store',
 'CBD160': '#_of_times_someone_cooked_dinner_at_home',
 'CBD170': 'Time_spent_cooking_dinner/cleaning_up',
 'CBD180': '#_of_meals_family_ate_together_in_7_days',
 'CBQ190': '#_of_meals_ate_together_cooked_at_home'}

In [8]:
for name in names_df:
    df[name]=df[name].rename(columns=column_renamer[name])
list(df[names_df[0]].columns)

['Respondent_sequence_number',
 'Anyone_in_the_family_on_a_special_diet',
 'Fruits_available_at_home',
 'Dark_green_vegetables_available_at_home',
 'Salty_snacks_available_at_home',
 'Fat_free/low_fat_milk_available_at_home',
 'Soft_drinks_available_at_home',
 'Money_spent_at_supermarket/grocery_store',
 'Money_spent_on_nonfood_items',
 'Money_spent_on_food_at_other_stores',
 'Money_spent_on_eating_out',
 'Money_spent_on_carryout/delivered_foods',
 'How_often_do_you_do_major_food_shopping',
 'Time_to_get_to_grocery_store',
 '#_of_times_someone_cooked_dinner_at_home',
 'Time_spent_cooking_dinner/cleaning_up',
 '#_of_meals_family_ate_together_in_7_days',
 '#_of_meals_ate_together_cooked_at_home']

In [9]:
merged_df={}
for key,value in years.items():
    year_tables=list(filter(lambda x:value in x,names_df))
    df_merge=df[year_tables[0]]
    for i,table in enumerate(year_tables):
        if i > 0:
            df_merge=df_merge.merge(df[table],on="Respondent_sequence_number",how="inner")
    merged_df[value]=df_merge
merged_df["_1718"]

,Respondent_sequence_number,Money_spent_at_supermarket/grocery_store,Money_spent_on_nonfood_items,Money_spent_on_food_at_other_stores,Money_spent_on_eating_out,Money_spent_on_carryout/delivered_foods,Data_release_cycle,Interview/Examination_status,Gender,Age_in_years_at_screening,...,HH_ref_person_education_level,HH_ref_person_marital_status,HH_ref_person_spouse_education_level,Full_sample_2_year_interview_weight,Full_sample_2_year_MEC_exam_weight,Masked_variance_pseudo_PSU,Masked_variance_pseudo_stratum,Annual_household_income,Annual_family_income,Ratio_of_family_income_to_poverty
0,93703.0,100.0,5.397605e-79,4.000000e+02,200.0,3.000000e+01,10.0,2.0,2.0,2.0,...,3.0,1.0,3.0,9246.491865,8539.731348,2.0,145.0,15.0,15.0,5.00
1,93704.0,900.0,3.000000e+01,5.397605e-79,50.0,2.500000e+01,10.0,2.0,1.0,2.0,...,3.0,1.0,2.0,37338.768343,42566.614750,1.0,143.0,15.0,15.0,5.00
2,93705.0,100.0,5.397605e-79,5.397605e-79,75.0,1.070000e+02,10.0,2.0,2.0,66.0,...,1.0,2.0,NaN,8614.571172,8338.419786,2.0,145.0,3.0,3.0,0.82
3,93706.0,NaN,NaN,NaN,NaN,NaN,10.0,2.0,1.0,18.0,...,3.0,1.0,2.0,8548.632619,8723.439814,2.0,134.0,NaN,NaN,NaN
4,93707.0,2142.0,2.000000e+02,6.000000e+01,200.0,1.000000e+02,10.0,2.0,1.0,13.0,...,2.0,1.0,3.0,6769.344567,7064.609730,1.0,138.0,10.0,10.0,1.88
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9249,102952.0,450.0,1.000000e+02,1.000000e+02,120.0,5.397605e-79,10.0,2.0,2.0,70.0,...,2.0,1.0,1.0,16896.276203,18338.711104,2.0,138.0,4.0,4.0,0.95
9250,102953.0,250.0,5.397605e-79,1.280000e+02,200.0,5.397605e-79,10.0,2.0,1.0,42.0,...,2.0,2.0,NaN,61630.380013,63661.951573,2.0,137.0,12.0,12.0,NaN
9251,102954.0,300.0,5.397605e-79,4.000000e+02,200.0,4.000000e+01,10.0,2.0,2.0,41.0,...,2.0,2.0,NaN,17160.895269,17694.783346,1.0,144.0,10.0,10.0,1.18
9252,102955.0,1200.0,5.000000e+01,5.000000e+01,100.0,4.000000e+01,10.0,2.0,2.0,14.0,...,2.0,1.0,2.0,14238.445922,14871.839636,1.0,136.0,9.0,9.0,2.24
9253,102956.0,1200.0,2.000000e+02,1.500000e+02,200.0,5.397605e-79,10.0,2.0,1.0,38.0,...,2.0,2.0,NaN,38645.740291,39426.299948,1.0,142.0,7.0,7.0,1.56

In [10]:
merged_df.keys()

dict_keys(['_0708', '_1718'])

In [11]:
for key in merged_df.keys():
    merged_df[key].to_csv(f"../Resources/table_export{key}.csv")